In [1]:
import pandas as pd
from cuotasimss import CuotasImss
from imss import CalculoIMSSObrero, CalculoIMSSPatron
from isr import ISR
from datetime import datetime
from sbc import SBC
from isr_aguinaldo import Impuesto_Aguinaldo
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
df = pd.read_excel('./data/plantilla_laboral2.xlsx', sheet_name='Hoja1')
df.head()

   Id                            Nombre  Sueldo mensual  Vales Fecha Ingreso
0   1      Martha Rosa Alvarez Martínez       33,256.68   1500    2019-06-03
1   2  Tania Monserrat Bañuelos Murillo       25,931.50   1297    2019-06-17
2   6        Karla Berenice Cano Garcia       22,960.82   1148    2019-07-23
3   7     Jonathan Covarrubias Sustaita       21,719.58   1086    2019-03-04
4   8              Miguel Dionicio Luna       27,315.62   1366    2018-01-09

In [3]:
df['Fecha Ingreso'] = pd.to_datetime(df['Fecha Ingreso'], format='%Y-%m-%d')

In [4]:
def impto_ag(a, b):
    calculo = Impuesto_Aguinaldo()
    calculo.set_sueldo_base(a)
    calculo.set_aguinaldo(b)
    return calculo.impuesto_aguinaldo()

In [28]:
date_2022 = pd.to_datetime('2022/12/31')
date_2023 = pd.to_datetime('2023/12/31')
date_2024 = pd.to_datetime('2024/12/31')
date_2025 = pd.to_datetime('2025/12/31')
date_2026 = pd.to_datetime('2026/12/31')
date_2027 = pd.to_datetime('2027/12/31')
date_2028 = pd.to_datetime('2028/12/31')
date_2029 = pd.to_datetime('2029/12/31')
date_2030 = pd.to_datetime('2030/12/31')

In [6]:
df.tail()

    Id                          Nombre  Sueldo mensual  Vales Fecha Ingreso
49  65     José Alfredo López Madrigal       17,687.64    884    2022-06-16
50  66   Jesus Geovanni Ruvalcaba Mota       17,687.64    884    2022-07-01
51  67  Luis Manuel Guerrero Alcantara       19,500.08    975    2022-08-22
52  68        Shaila Barradas Santiago       18,616.36    931    2022-09-19
53  69  Sergio Alexis Bautista Ángeles       31,887.10   1500    2022-12-01

In [7]:
aumento_2023 = 1.09
aumento_2024 = 1.18
aumento_2025 = 1.18 + 0.09
aumento_2026 = 1.18 + 0.09 + 0.09
aumento_2027 = 1.18 + 0.09 + 0.09 + 0.09
aumento_2028 = 1.18 + 0.09 + 0.09 + 0.09 + 0.09
aumento_2029 = 1.18 + 0.09 + 0.09 + 0.09 + 0.09 + 0.09
aumento_2030 = 1.18 + 0.09 + 0.09 + 0.09 + 0.09 + 0.09 + 0.09

In [8]:
def vales_2023(vale):
    if (vale * aumento_2023) >= 1500:
        return 1500.0
    else:
        return (vale * aumento_2023)
    
def imss_pt_2023(x, date):
    nomina = CalculoIMSSPatron()
    nomina.set_fecha_base(date)
    nomina.set_sdi(x)
    nomina._uma = 96.22 * aumento_2023
    return nomina.total_imss()

def imss_ob_2023(x):
    nomina = CalculoIMSSObrero()
    nomina.set_sdi(x)
    nomina._uma = 96.22 * aumento_2023
    return nomina.total_imss()

In [9]:
def vales_2024(vale):
    if (vale * aumento_2024) > 1500:
        return 1500.0
    else:
        return (vale * aumento_2024)
    
def imss_pt_2024(x, date):
    nomina = CalculoIMSSPatron()
    nomina.set_fecha_base(date)
    nomina.set_sdi(x)
    nomina._uma = 96.22 * aumento_2024
    return nomina.total_imss()

def imss_ob_2024(x):
    nomina = CalculoIMSSObrero()
    nomina.set_sdi(x)
    nomina._uma = 96.22 * aumento_2024
    return nomina.total_imss()

In [10]:
def vales_2025(vale):
    if (vale * aumento_2025) > 1500:
        return 1500.0
    else:
        return (vale * aumento_2025)
    
def imss_pt_2025(x, date):
    nomina = CalculoIMSSPatron()
    nomina.set_fecha_base(date)
    nomina.set_sdi(x)
    nomina._uma = 96.22 * aumento_2025
    return nomina.total_imss()

def imss_ob_2025(x):
    nomina = CalculoIMSSObrero()
    nomina.set_sdi(x)
    nomina._uma = 96.22 * aumento_2025
    return nomina.total_imss()

In [11]:
def vales_2026(vale):
    if (vale * aumento_2026) > 1500:
        return 1500.0
    else:
        return (vale * aumento_2026)
    
def imss_pt_2026(x, date):
    nomina = CalculoIMSSPatron()
    nomina.set_fecha_base(date)
    nomina.set_sdi(x)
    nomina._uma = 96.22 * aumento_2026
    return nomina.total_imss()

def imss_ob_2026(x):
    nomina = CalculoIMSSObrero()
    nomina.set_sdi(x)
    nomina._uma = 96.22 * aumento_2026
    return nomina.total_imss()

In [12]:
def vales_2027(vale):
    if (vale * aumento_2027) > 1500:
        return 1500.0
    else:
        return (vale * aumento_2027)
    
def imss_pt_2027(x, date):
    nomina = CalculoIMSSPatron()
    nomina.set_fecha_base(date)
    nomina.set_sdi(x)
    nomina._uma = 96.22 * aumento_2027
    return nomina.total_imss()

def imss_ob_2027(x):
    nomina = CalculoIMSSObrero()
    nomina.set_sdi(x)
    nomina._uma = 96.22 * aumento_2027
    return nomina.total_imss()

In [13]:
def vales_2028(vale):
    if (vale * aumento_2028) > 1500:
        return 1500.0
    else:
        return (vale * aumento_2028)
    
def imss_pt_2028(x, date):
    nomina = CalculoIMSSPatron()
    nomina.set_fecha_base(date)
    nomina.set_sdi(x)
    nomina._uma = 96.22 * aumento_2028
    return nomina.total_imss()

def imss_ob_2028(x):
    nomina = CalculoIMSSObrero()
    nomina.set_sdi(x)
    nomina._uma = 96.22 * aumento_2028
    return nomina.total_imss()

In [14]:
def vales_2029(vale):
    if (vale * aumento_2029) > 1500:
        return 1500.0
    else:
        return (vale * aumento_2029)
    
def imss_pt_2029(x, date):
    nomina = CalculoIMSSPatron()
    nomina.set_fecha_base(date)
    nomina.set_sdi(x)
    nomina._uma = 96.22 * aumento_2029
    return nomina.total_imss()

def imss_ob_2029(x):
    nomina = CalculoIMSSObrero()
    nomina.set_sdi(x)
    nomina._uma = 96.22 * aumento_2029
    return nomina.total_imss()

In [30]:
def vales_2030(vale):
    if (vale * aumento_2030) > 1500:
        return 1500.0
    else:
        return (vale * aumento_2030)
    
def imss_pt_2030(x, date):
    nomina = CalculoIMSSPatron()
    nomina.set_fecha_base(date)
    nomina.set_sdi(x)
    nomina._uma = 96.22 * aumento_2030
    return nomina.total_imss()

def imss_ob_2030(x):
    nomina = CalculoIMSSObrero()
    nomina.set_sdi(x)
    nomina._uma = 96.22 * aumento_2030
    return nomina.total_imss()

In [16]:
# df['SDI_2022'] = df.apply(lambda x: SBC.funcion_sdi(sueldo = x['Sueldo mensual'], a = x['Fecha Ingreso'], b = date_2022), axis=1)
df['SBC_2022'] = df.apply(lambda x: SBC.funcion_sbc(sueldo = x['Sueldo mensual'], vales = x['Vales'], a = x['Fecha Ingreso'], b = date_2022), axis=1)
df['ISR_2022'] = (df['Sueldo mensual']).apply(lambda x: ISR.function_isr(x))
df['IMSS_O_2022'] = df['SBC_2022'].apply(lambda x: CalculoIMSSObrero.function_imss_obrero(x))
df['IMSS_P_2022'] = df.apply(lambda x: CalculoIMSSPatron.function_imss_patronal(x = x['SBC_2022'], date=date_2022 ), axis=1)
df['ISN_2022'] = df['Sueldo mensual'] * 0.03
_isr_ = df['Sueldo mensual'].apply(lambda x: ISR.function_isr(x))
df['Neto'] = df['Sueldo mensual'] - _isr_ - df['IMSS_O_2022']
df['Aguinaldo_2022'] = df.apply(lambda x: SBC.funcion_aguinaldo(sueldo = x['Sueldo mensual'], a = x['Fecha Ingreso'], b = date_2022), axis=1)
# df['Impto_Aguinaldo_2022'] = df.apply(lambda x: impto_ag(x['Sueldo mensual'], x['Aguinaldo']) ,axis=1)
df['Prima Vacacional_2022'] = df.apply(lambda x: SBC.funcion_pv(sueldo = x['Sueldo mensual'], date_ingreso = x['Fecha Ingreso'], date_base = date_2022), axis=1)

prestaciones = df.loc[:,['Aguinaldo_2022','Prima Vacacional_2022']].sum(axis=1)
sueldo_anual = df['Sueldo mensual'].apply(lambda x: x*12)
df['Sueldo_2022'] = prestaciones + sueldo_anual
df['Vales 2022'] = df['Vales'].apply(lambda x: x*12)
df['Carga_2022'] = df.loc[:,['IMSS_P_2022','ISN_2022']].sum(axis=1).apply(lambda x: x * 12)

In [17]:
df.tail()

,Id,Nombre,Sueldo mensual,Vales,Fecha Ingreso,SBC_2022,ISR_2022,IMSS_O_2022,IMSS_P_2022,ISN_2022,Neto,Aguinaldo_2022,Prima Vacacional_2022,Sueldo_2022,Vales 2022,Carga_2022
49,65,José Alfredo López Madrigal,"17,687.64",884,2022-06-16,616.24,"2,336.92",484.76,"3,544.40",530.63,"14,865.96","4,821.70",0.00,"217,073.38",10608,"48,900.35"
50,66,Jesus Geovanni Ruvalcaba Mota,"17,687.64",884,2022-07-01,616.24,"2,336.92",484.76,"3,544.40",530.63,"14,865.96","4,458.25",0.00,"216,709.93",10608,"48,900.35"
51,67,Luis Manuel Guerrero Alcantara,"19,500.08",975,2022-08-22,679.38,"2,724.05",538.03,"3,856.34",585.00,"16,238.00","3,526.04",0.00,"237,527.00",11700,"53,296.11"
52,68,Shaila Barradas Santiago,"18,616.36",931,2022-09-19,648.60,"2,535.29",512.05,"3,704.25",558.49,"15,569.02","2,652.19",0.00,"226,048.51",11172,"51,152.89"
53,69,Sergio Alexis Bautista Ángeles,"31,887.10",1500,2022-12-01,"1,121.81","5,475.73",911.26,"6,041.92",956.61,"25,500.11","1,354.11",0.00,"383,999.31",18000,"83,982.40"

In [18]:
# df['Sueldo 2023'] = df['Sueldo mensual'].apply(lambda x: x * 1)
# df['Vales 2023'] = df['Vales'].apply(lambda x: x * 1 )

In [19]:
# df['SDI_2023'] = df.apply(lambda x: SBC.funcion_sdi(sueldo = x['Sueldo 2023'], a = x['Fecha Ingreso'], b = date_2023), axis=1)
df['SBC_2023'] = df.apply(lambda x: SBC.funcion_sbc(sueldo = x['Sueldo mensual'], vales = x['Vales'], a = x['Fecha Ingreso'], b = date_2023), axis=1)
df['ISR_2023'] = (df['Sueldo mensual']).apply(lambda x: ISR.function_isr(x))
df['IMSS_O_2023'] = df['SBC_2023'].apply(lambda x: imss_ob_2023(x))
df['IMSS_P_2023'] = df.apply(lambda x: imss_pt_2023(x = x['SBC_2023'], date = date_2023), axis=1)
df['ISN_2023'] = df['Sueldo mensual'] * 0.03
_isr_ = df['Sueldo mensual'].apply(lambda x: ISR.function_isr(x))
df['Neto 2023'] = df['Sueldo mensual'] - _isr_ - df['IMSS_O_2023']
df['Aguinaldo_2023'] = df.apply(lambda x: SBC.funcion_aguinaldo(sueldo = x['Sueldo mensual'], a = x['Fecha Ingreso'], b = date_2023), axis=1)
df['Prima Vacacional_2023'] = df.apply(lambda x: SBC.funcion_pv(sueldo = x['Sueldo mensual'], date_ingreso = x['Fecha Ingreso'], date_base = date_2023), axis=1)

prestaciones = df.loc[:,['Aguinaldo_2023','Prima Vacacional_2023']].sum(axis=1)
sueldo_anual = df['Sueldo mensual'].apply(lambda x: x*12)
df['Sueldo_2023'] = prestaciones + sueldo_anual
df['Vales 2023'] = df['Vales'].apply(lambda x: x*12)
df['Carga_2023'] = df.loc[:,['IMSS_P_2023','ISN_2023']].sum(axis=1).apply(lambda x: x * 12)

In [20]:
# df['Sueldo 2024'] = df['Sueldo mensual'].apply(lambda x: x * 1)
# df['Vales 2024'] = df['Vales'].apply(lambda x: x * 1 )

In [21]:
# df['SDI_2024'] = df.apply(lambda x: SBC.funcion_sdi(sueldo = x['Sueldo 2024'], a = x['Fecha Ingreso'], b = date_2024), axis=1)
df['SBC_2024'] = df.apply(lambda x: SBC.funcion_sbc(sueldo = x['Sueldo mensual'], vales = x['Vales'], a = x['Fecha Ingreso'], b = date_2024), axis=1)
df['ISR_2024'] = (df['Sueldo mensual']).apply(lambda x: ISR.function_isr(x))
df['IMSS_O_2024'] = df['SBC_2024'].apply(lambda x: imss_ob_2024(x))
df['IMSS_P_2024'] = df.apply(lambda x: imss_pt_2024(x = x['SBC_2024'], date = date_2024), axis=1)
df['ISN_2024'] = df['Sueldo mensual'] * 0.03
_isr_ = df['Sueldo mensual'].apply(lambda x: ISR.function_isr(x))
df['Neto 2024'] = df['Sueldo mensual'] - _isr_ - df['IMSS_O_2024']
df['Aguinaldo_2024'] = df.apply(lambda x: SBC.funcion_aguinaldo(sueldo = x['Sueldo mensual'], a = x['Fecha Ingreso'], b = date_2024), axis=1)
df['Prima Vacacional_2024'] = df.apply(lambda x: SBC.funcion_pv(sueldo = x['Sueldo mensual'], date_ingreso = x['Fecha Ingreso'], date_base = date_2024), axis=1)

prestaciones = df.loc[:,['Aguinaldo_2024','Prima Vacacional_2024']].sum(axis=1)
sueldo_anual = df['Sueldo mensual'].apply(lambda x: x*12)
df['Sueldo_2024'] = prestaciones + sueldo_anual
df['Vales 2024'] = df['Vales'].apply(lambda x: x*12)
df['Carga_2024'] = df.loc[:,['IMSS_P_2024','ISN_2024']].sum(axis=1).apply(lambda x: x * 12)

In [22]:
# df['SDI_2025'] = df.apply(lambda x: SBC.funcion_sdi(sueldo = x['Sueldo 2025'], a = x['Fecha Ingreso'], b = date_2025), axis=1)
df['SBC_2025'] = df.apply(lambda x: SBC.funcion_sbc(sueldo = x['Sueldo mensual'], vales = x['Vales'], a = x['Fecha Ingreso'], b = date_2025), axis=1)
df['ISR_2025'] = (df['Sueldo mensual']).apply(lambda x: ISR.function_isr(x))
df['IMSS_O_2025'] = df['SBC_2025'].apply(lambda x: imss_ob_2025(x))
df['IMSS_P_2025'] = df.apply(lambda x: imss_pt_2025(x = x['SBC_2025'], date = date_2025), axis=1)
df['ISN_2025'] = df['Sueldo mensual'] * 0.03
_isr_ = df['Sueldo mensual'].apply(lambda x: ISR.function_isr(x))
df['Neto 2025'] = df['Sueldo mensual'] - _isr_ - df['IMSS_O_2025']
df['Aguinaldo_2025'] = df.apply(lambda x: SBC.funcion_aguinaldo(sueldo = x['Sueldo mensual'], a = x['Fecha Ingreso'], b = date_2025), axis=1)
df['Prima Vacacional_2025'] = df.apply(lambda x: SBC.funcion_pv(sueldo = x['Sueldo mensual'], date_ingreso = x['Fecha Ingreso'], date_base = date_2025), axis=1)

prestaciones = df.loc[:,['Aguinaldo_2025','Prima Vacacional_2025']].sum(axis=1)
sueldo_anual = df['Sueldo mensual'].apply(lambda x: x*12)
df['Sueldo_2025'] = prestaciones + sueldo_anual
df['Vales 2025'] = df['Vales'].apply(lambda x: x*12)
df['Carga_2025'] = df.loc[:,['IMSS_P_2025','ISN_2025']].sum(axis=1).apply(lambda x: x * 12)

In [23]:
# df['SDI_2026'] = df.apply(lambda x: SBC.funcion_sdi(sueldo = x['Sueldo 2026'], a = x['Fecha Ingreso'], b = date_2026), axis=1)
df['SBC_2026'] = df.apply(lambda x: SBC.funcion_sbc(sueldo = x['Sueldo mensual'], vales = x['Vales'], a = x['Fecha Ingreso'], b = date_2026), axis=1)
df['ISR_2026'] = (df['Sueldo mensual']).apply(lambda x: ISR.function_isr(x))
df['IMSS_O_2026'] = df['SBC_2026'].apply(lambda x: imss_ob_2026(x))
df['IMSS_P_2026'] = df.apply(lambda x: imss_pt_2026(x = x['SBC_2026'], date = date_2026), axis=1)
df['ISN_2026'] = df['Sueldo mensual'] * 0.03
_isr_ = df['Sueldo mensual'].apply(lambda x: ISR.function_isr(x))
df['Neto 2026'] = df['Sueldo mensual'] - _isr_ - df['IMSS_O_2026']
df['Aguinaldo_2026'] = df.apply(lambda x: SBC.funcion_aguinaldo(sueldo = x['Sueldo mensual'], a = x['Fecha Ingreso'], b = date_2026), axis=1)
df['Prima Vacacional_2026'] = df.apply(lambda x: SBC.funcion_pv(sueldo = x['Sueldo mensual'], date_ingreso = x['Fecha Ingreso'], date_base = date_2026), axis=1)

prestaciones = df.loc[:,['Aguinaldo_2026','Prima Vacacional_2026']].sum(axis=1)
sueldo_anual = df['Sueldo mensual'].apply(lambda x: x*12)
df['Sueldo_2026'] = prestaciones + sueldo_anual
df['Vales 2026'] = df['Vales'].apply(lambda x: x*12)
df['Carga_2026'] = df.loc[:,['IMSS_P_2026','ISN_2026']].sum(axis=1).apply(lambda x: x * 12)

In [24]:
# df['SDI_2027'] = df.apply(lambda x: SBC.funcion_sdi(sueldo = x['Sueldo 2027'], a = x['Fecha Ingreso'], b = date_2027), axis=1)
df['SBC_2027'] = df.apply(lambda x: SBC.funcion_sbc(sueldo = x['Sueldo mensual'], vales = x['Vales'], a = x['Fecha Ingreso'], b = date_2027), axis=1)
df['ISR_2027'] = (df['Sueldo mensual']).apply(lambda x: ISR.function_isr(x))
df['IMSS_O_2027'] = df['SBC_2027'].apply(lambda x: imss_ob_2027(x))
df['IMSS_P_2027'] = df.apply(lambda x: imss_pt_2027(x = x['SBC_2027'], date = date_2027), axis=1)
df['ISN_2027'] = df['Sueldo mensual'] * 0.03
_isr_ = df['Sueldo mensual'].apply(lambda x: ISR.function_isr(x))
df['Neto 2027'] = df['Sueldo mensual'] - _isr_ - df['IMSS_O_2027']
df['Aguinaldo_2027'] = df.apply(lambda x: SBC.funcion_aguinaldo(sueldo = x['Sueldo mensual'], a = x['Fecha Ingreso'], b = date_2027), axis=1)
df['Prima Vacacional_2027'] = df.apply(lambda x: SBC.funcion_pv(sueldo = x['Sueldo mensual'], date_ingreso = x['Fecha Ingreso'], date_base = date_2027), axis=1)

prestaciones = df.loc[:,['Aguinaldo_2027','Prima Vacacional_2027']].sum(axis=1)
sueldo_anual = df['Sueldo mensual'].apply(lambda x: x*12)
df['Sueldo_2027'] = prestaciones + sueldo_anual
df['Vales 2027'] = df['Vales'].apply(lambda x: x*12)
df['Carga_2027'] = df.loc[:,['IMSS_P_2027','ISN_2027']].sum(axis=1).apply(lambda x: x * 12)

In [25]:
# df['SDI_2028'] = df.apply(lambda x: SBC.funcion_sdi(sueldo = x['Sueldo 2028'], a = x['Fecha Ingreso'], b = date_2028), axis=1)
df['SBC_2028'] = df.apply(lambda x: SBC.funcion_sbc(sueldo = x['Sueldo mensual'], vales = x['Vales'], a = x['Fecha Ingreso'], b = date_2028), axis=1)
df['ISR_2028'] = (df['Sueldo mensual']).apply(lambda x: ISR.function_isr(x))
df['IMSS_O_2028'] = df['SBC_2028'].apply(lambda x: imss_ob_2028(x))
df['IMSS_P_2028'] = df.apply(lambda x: imss_pt_2028(x = x['SBC_2028'], date = date_2028), axis=1)
df['ISN_2028'] = df['Sueldo mensual'] * 0.03
_isr_ = df['Sueldo mensual'].apply(lambda x: ISR.function_isr(x))
df['Neto 2028'] = df['Sueldo mensual'] - _isr_ - df['IMSS_O_2028']
df['Aguinaldo_2028'] = df.apply(lambda x: SBC.funcion_aguinaldo(sueldo = x['Sueldo mensual'], a = x['Fecha Ingreso'], b = date_2028), axis=1)
df['Prima Vacacional_2028'] = df.apply(lambda x: SBC.funcion_pv(sueldo = x['Sueldo mensual'], date_ingreso = x['Fecha Ingreso'], date_base = date_2028), axis=1)

prestaciones = df.loc[:,['Aguinaldo_2028','Prima Vacacional_2028']].sum(axis=1)
sueldo_anual = df['Sueldo mensual'].apply(lambda x: x*12)
df['Sueldo_2028'] = prestaciones + sueldo_anual
df['Vales 2028'] = df['Vales'].apply(lambda x: x*12)
df['Carga_2028'] = df.loc[:,['IMSS_P_2028','ISN_2028']].sum(axis=1).apply(lambda x: x * 12)

In [26]:
# df['SDI_2029'] = df.apply(lambda x: SBC.funcion_sdi(sueldo = x['Sueldo 2029'], a = x['Fecha Ingreso'], b = date_2029), axis=1)
df['SBC_2029'] = df.apply(lambda x: SBC.funcion_sbc(sueldo = x['Sueldo mensual'], vales = x['Vales'], a = x['Fecha Ingreso'], b = date_2029), axis=1)
df['ISR_2029'] = (df['Sueldo mensual']).apply(lambda x: ISR.function_isr(x))
df['IMSS_O_2029'] = df['SBC_2029'].apply(lambda x: imss_ob_2029(x))
df['IMSS_P_2029'] = df.apply(lambda x: imss_pt_2029(x = x['SBC_2029'], date = date_2029), axis=1)
df['ISN_2029'] = df['Sueldo mensual'] * 0.03
_isr_ = df['Sueldo mensual'].apply(lambda x: ISR.function_isr(x))
df['Neto 2029'] = df['Sueldo mensual'] - _isr_ - df['IMSS_O_2029']
df['Aguinaldo_2029'] = df.apply(lambda x: SBC.funcion_aguinaldo(sueldo = x['Sueldo mensual'], a = x['Fecha Ingreso'], b = date_2029), axis=1)
df['Prima Vacacional_2029'] = df.apply(lambda x: SBC.funcion_pv(sueldo = x['Sueldo mensual'], date_ingreso = x['Fecha Ingreso'], date_base = date_2029), axis=1)

prestaciones = df.loc[:,['Aguinaldo_2029','Prima Vacacional_2029']].sum(axis=1)
sueldo_anual = df['Sueldo mensual'].apply(lambda x: x*12)
df['Sueldo_2029'] = prestaciones + sueldo_anual
df['Vales 2029'] = df['Vales'].apply(lambda x: x*12)
df['Carga_2029'] = df.loc[:,['IMSS_P_2029','ISN_2029']].sum(axis=1).apply(lambda x: x * 12)

In [31]:
# df['SDI_2030'] = df.apply(lambda x: SBC.funcion_sdi(sueldo = x['Sueldo 2030'], a = x['Fecha Ingreso'], b = date_2030), axis=1)
df['SBC_2030'] = df.apply(lambda x: SBC.funcion_sbc(sueldo = x['Sueldo mensual'], vales = x['Vales'], a = x['Fecha Ingreso'], b = date_2030), axis=1)
df['ISR_2030'] = (df['Sueldo mensual']).apply(lambda x: ISR.function_isr(x))
df['IMSS_O_2030'] = df['SBC_2030'].apply(lambda x: imss_ob_2030(x))
df['IMSS_P_2030'] = df.apply(lambda x: imss_pt_2030(x = x['SBC_2030'], date = date_2030), axis=1)
df['ISN_2030'] = df['Sueldo mensual'] * 0.03
_isr_ = df['Sueldo mensual'].apply(lambda x: ISR.function_isr(x))
df['Neto 2030'] = df['Sueldo mensual'] - _isr_ - df['IMSS_O_2030']
df['Aguinaldo_2030'] = df.apply(lambda x: SBC.funcion_aguinaldo(sueldo = x['Sueldo mensual'], a = x['Fecha Ingreso'], b = date_2030), axis=1)
df['Prima Vacacional_2030'] = df.apply(lambda x: SBC.funcion_pv(sueldo = x['Sueldo mensual'], date_ingreso = x['Fecha Ingreso'], date_base = date_2030), axis=1)

prestaciones = df.loc[:,['Aguinaldo_2030','Prima Vacacional_2030']].sum(axis=1)
sueldo_anual = df['Sueldo mensual'].apply(lambda x: x*12)
df['Sueldo_2030'] = prestaciones + sueldo_anual
df['Vales 2030'] = df['Vales'].apply(lambda x: x*12)
df['Carga_2030'] = df.loc[:,['IMSS_P_2030','ISN_2030']].sum(axis=1).apply(lambda x: x * 12)

In [32]:
df

,Id,Nombre,Sueldo mensual,Vales,Fecha Ingreso,SBC_2022,ISR_2022,IMSS_O_2022,IMSS_P_2022,ISN_2022,...,ISR_2030,IMSS_O_2030,IMSS_P_2030,ISN_2030,Neto 2030,Aguinaldo_2030,Prima Vacacional_2030,Sueldo_2030,Vales 2030,Carga_2030
0,1,Martha Rosa Alvarez Martínez,"33,256.68",1500,2019-06-03,"1,172.56","5,797.85",954.07,"6,292.64",997.70,...,"5,797.85",932.64,"9,797.49",997.70,"26,526.19","16,628.34","4,434.22","420,142.72",18000,"129,542.28"
1,2,Tania Monserrat Bañuelos Murillo,"25,931.50",1297,2019-06-17,910.00,"4,097.80",732.57,"4,995.59",777.94,...,"4,097.80",710.30,"7,796.36",777.94,"21,123.40","12,965.75","3,457.53","327,601.28",15564,"102,891.66"
2,6,Karla Berenice Cano Garcia,"22,960.82",1148,2019-07-23,802.05,"3,463.27",641.51,"4,462.32",688.82,...,"3,463.27",618.89,"6,973.74",688.82,"18,878.66","11,480.41","3,061.44","290,071.69",13776,"91,950.78"
3,7,Jonathan Covarrubias Sustaita,"21,719.58",1086,2019-03-04,758.70,"3,198.14",604.93,"4,248.15",651.59,...,"3,198.14",582.17,"6,643.20",651.59,"17,939.27","10,859.79","2,895.94","274,390.69",13032,"87,537.45"
4,8,Miguel Dionicio Luna,"27,315.62",1366,2018-01-09,961.87,"4,400.52",776.33,"5,251.82",819.47,...,"4,400.52",753.17,"8,182.19",819.47,"22,161.93","13,657.81","3,642.08","345,087.33",16392,"108,019.90"
5,9,José Manuel Franco González,"38,020.36",1500,2015-07-09,"1,342.43","6,918.27","1,097.37","7,131.79","1,140.61",...,"6,918.27","1,075.03","11,078.93","1,140.61","30,027.06","19,010.18","5,703.05","480,957.55",18000,"146,634.49"
6,11,Ana Gómez Gallardo Aguilar,"82,484.98",1500,2018-02-01,"2,895.94","19,990.42","1,994.18","12,383.36","2,474.55",...,"19,990.42","2,389.00","22,904.66","2,474.55","60,105.56","41,242.49","10,998.00","1,042,060.25",18000,"304,550.51"
7,12,Juan Manuel González Barajas,"177,157.22",1500,2018-11-05,"6,207.31","51,663.04","1,994.18","12,383.36","5,314.72",...,"51,663.04","3,429.99","32,273.58","5,314.72","122,064.19","88,578.61","23,620.96","2,238,086.21",18000,"451,059.56"
8,13,Gerardo González Flores,"21,719.58",1086,2019-09-02,758.70,"3,198.14",604.93,"4,248.15",651.59,...,"3,198.14",582.17,"6,643.20",651.59,"17,939.27","10,859.79","2,895.94","274,390.69",13032,"87,537.45"
9,14,Mónica González Garduño,"20,481.40",1024,2018-01-24,716.38,"2,933.66",569.24,"4,039.12",614.44,...,"2,933.66",545.54,"6,313.60",614.44,"17,002.20","10,240.70","2,730.85","258,748.35",12288,"83,136.50"
10,15,Ana Paula Gout Martinez De Velasco,"47,275.96",1500,2018-09-17,"1,664.43","9,402.24","1,369.01","8,722.47","1,418.28",...,"9,402.24","1,347.38","13,530.15","1,418.28","36,526.34","23,637.98","6,303.46","597,252.96",18000,"179,381.15"
11,18,Rosa Juarez Pinzon,"22,960.82",1148,2019-06-17,802.05,"3,463.27",641.51,"4,462.32",688.82,...,"3,463.27",618.89,"6,973.74",688.82,"18,878.66","11,480.41","3,061.44","290,071.69",13776,"91,950.78"
12,19,Karen Alejandra Lara Paz,"26,059.80",1303,2019-06-17,914.68,"4,125.21",736.53,"5,018.73",781.79,...,"4,125.21",714.27,"7,832.08",781.79,"21,220.32","13,029.90","3,474.64","329,222.14",15636,"103,366.49"
13,21,Adela Marín Castillo,"34,620.44",1500,2015-07-01,"1,223.37","6,118.61",996.93,"6,543.64","1,038.61",...,"6,118.61",974.33,"10,172.62","1,038.61","27,527.50","17,310.22","5,193.07","437,948.57",18000,"134,534.80"
14,23,Samantha Itzel Martinez Narcizo,"25,931.50",1297,2019-06-17,910.00,"4,097.80",732.57,"4,995.59",777.94,...,"4,097.80",710.30,"7,796.36",777.94,"21,123.40","12,965.75","3,457.53","327,601.28",15564,"102,891.66"
15,24,Manuel Alejandro Monroy Cruz,"21,718.36",1086,2019-11-01,758.66,"3,197.88",604.90,"4,247.95",651.55,...,"3,197.88",582.13,"6,642.89",651.55,"17,938.35","10,859.18","2,895.78","274,375.28",13032,"87,533.29"
16,25,Sergio Alberto Moreno González,"27,951.88",1398,2019-06-03,983.90,"4,550.16",794.92,"5,360.65",838.56,...,"4,550.16",772.87,"8,359.56",838.56,"22,628.85","13,975.94","3,726.92","353,125.42",16776,"110,377.40"
17,26,Ricardo Neri Vázquez,"16,144.52",807,2016-01-16,565.43,"2,007.31",441.90,"3,293.41",484.34,...,"2,007.31",417.25,"4,647.22",484.34,"13,719.96","8,072.26","2,152.60","203,959.10",9684,"61,578.67"
18,27,Stephany Peniche Ake,"20,480.18",1024,2019-06-17,715.41,"2,933.40",568.42,"4,034.33",614.41,...,"2,933.40",545.51,"6,313.28",614.41,"17,001.27","10,240.09","2,730.69","258,732.94",12288,"83,132.22"
19,28,Andrés Peña Peralta,"39,985.42",1500,2015-06-01,"1,411.25","7,380.45","1,155.43","7,471.77","1,199.56",...,"7,380.45","1,133.24","11,602.82","1,199.56","31,471.73","19,992.71","5,997.81","505,815.56",18000,"153,628.59"
20,29,Francisco Javier Perez Gaspar,"20,480.18",1024,2019-06-17,715.41,"2,933.40",568.42,"4,034.33",614.41,...,"2,933.40",545.51,"6,313.28",614.41,"17,001.27","10,240.09","2,730.69","258,732.94",12288,"83,132.22"
21,30,Ángel Manuel Ramírez Contreras,"30,540.14",1500,2013-11-01,"1,080.46","5,158.92",876.37,"5,837.66",916.20,...,"5,158.92",853.45,"9,084.78",916.20,"24,527.77","15,270.07","4,581.02","386,332.77",18000,"120,011.81"
22,31,Nayeli Melisa Rodriguez Leonardo,"29,228.38",1461,2018-11-05,"1,031.90","4,850.40",835.41,"5,597.78",876.85,...,"4,850.40",812.39,"8,715.20",876.85,"23,565.59","14,614.19","3,897.12","369,251.87",17532,"115,104.62"
23,33,Jose Maria Sandoval Torres,"22,960.82",1148,2019-06-17,802.05,"3,463.27",641.51,"4,462.32",688.82,...,"3,463.27",618.89,"6,973.74",688.82,"18,878.66","11,480.41","3,061.44","290,071.69",13776,"91,950.78"
24,35,Elias Ebeth Teco Sánchez,"38,700.42",1500,2016-06-27,"1,366.25","7,078.22","1,117.47","7,249.46","1,161.01",...,"7,078.22","1,093.69","11,246.87","1,161.01","30,528.51","19,350.21","5,160.06","488,915.31",18000,"148,894.59"
25,36,María Alejandra Torres Sandoval,"35,980.22",1500,2014-01-20,"1,270.98","6,438.43","1,037.10","6,778.85","1,079.41",...,"6,438.43","1,014.60","10,535.13","1,079.41","28,527.19","17,990.11","5,397.03","455,149.78",18000,"139,374.44"
26,38,Ana Norely Flores Robles,"21,098.82",1055,2020-07-13,736.04,"3,065.54",585.83,"4,136.25",632.96,...,"3,065.54",563.81,"6,477.96",632.96,"17,469.47","10,549.41","2,813.18","266,548.43",12660,"85,331.10"
27,40,Ismael Martinez Gallegos,"46,969.82",1500,2020-10-08,"1,649.43","9,310.40","1,356.36","8,648.40","1,409.09",...,"9,310.40","1,338.33","13,448.64","1,409.09","36,321.09","23,484.91","6,262.64","593,385.39",18000,"178,292.82"
28,41,Margaux Andree B Jacquemin X,"27,315.62",1366,2018-01-16,961.87,"4,400.52",776.33,"5,251.82",819.47,...,"4,400.52",753.17,"8,182.19",819.47,"22,161.93","13,657.81","3,642.08","345,087.33",16392,"108,019.90"
29,42,Rogelio Cervantes Moreno,"29,228.38",1461,2019-06-16,"1,030.56","4,850.40",834.28,"5,591.16",876.85,...,"4,850.40",812.39,"8,715.20",876.85,"23,565.59","14,614.19","3,897.12","369,251.87",17532,"115,104.62"
30,43,Sarai Rosas Trujillo,"42,092.14",1500,2019-01-07,"1,481.20","7,875.95","1,214.44","7,817.30","1,262.76",...,"7,875.95","1,194.03","12,149.97","1,262.76","33,022.16","21,046.07","5,612.29","531,764.04",18000,"160,952.81"
31,44,Ethel Edith Montoya Crespo,"22,960.82",1148,2019-06-17,802.05,"3,463.27",641.51,"4,462.32",688.82,...,"3,463.27",618.89,"6,973.74",688.82,"18,878.66","11,480.41","3,061.44","290,071.69",13776,"91,950.78"
32,46,Susana Garza Leon,"18,619.40",931,2021-07-01,648.71,"2,535.94",512.15,"3,704.80",558.58,...,"2,535.94",489.74,"5,355.03",558.58,"15,593.72","9,309.70","2,172.26","234,914.76",11172,"70,963.34"
33,48,Brenda Bernaldez Ruiz,"82,484.32",1500,2017-12-11,"2,899.68","19,990.21","1,994.18","12,383.36","2,474.53",...,"19,990.21","2,388.98","22,904.50","2,474.53","60,105.13","41,242.16","10,997.91","1,042,051.91",18000,"304,548.36"
34,49,Tania Alejandra Lopez Conde Cervantes,"34,616.78",1500,2019-02-01,"1,220.07","6,117.75",994.15,"6,527.32","1,038.50",...,"6,117.75",972.88,"10,159.63","1,038.50","27,526.15","17,308.39","4,615.57","437,325.32",18000,"134,377.60"
35,50,Zurisadai Arano Rivera,"26,685.42",1334,2019-05-27,937.56,"4,258.84",755.82,"5,131.73",800.56,...,"4,258.84",733.64,"8,006.43",800.56,"21,692.94","13,342.71","3,558.06","337,125.81",16008,"105,683.91"
36,51,Maria Del Pilar Velez Jimenez,"25,442.68",1272,2020-08-01,890.94,"3,993.39",716.50,"4,901.45",763.28,...,"3,993.39",695.14,"7,659.96",763.28,"20,754.15","12,721.34","3,392.36","321,425.86",15264,"101,078.88"
37,52,Blanca Elena Leiva Lopez,"25,442.68",1272,2020-09-01,890.94,"3,993.39",716.50,"4,901.45",763.28,...,"3,993.39",695.14,"7,659.96",763.28,"20,754.15","12,721.34","3,392.36","321,425.86",15264,"101,078.88"
38,53,Ricardo Chavez Rebolledo,"29,225.34",1461,2021-09-01,"1,027.78","4,849.68",831.93,"5,577.41",876.76,...,"4,849.68",811.17,"8,704.18",876.76,"23,564.49","14,612.67","3,409.62","368,726.37",17532,"114,971.28"
39,55,Josué Leon Morales,"19,238.94",962,2022-01-16,670.29,"2,668.27",530.35,"3,811.41",577.17,...,"2,668.27",508.04,"5,976.07",577.17,"16,062.63","9,619.47","2,244.54","242,731.29",11544,"78,638.86"
40,56,Elías Trinidad Ramos Razo,"16,757.70",838,2022-02-01,583.85,"2,138.28",457.43,"3,384.41",502.73,...,"2,138.28",434.74,"4,905.65",502.73,"14,184.68","8,378.85","1,955.07","211,426.32",10056,"64,900.57"
41,57,Mariana Ramírez Castillo,"18,616.36",931,2022-02-01,648.60,"2,535.29",512.05,"3,704.25",558.49,...,"2,535.29",489.65,"5,354.26",558.49,"15,591.42","9,308.18","2,171.91","234,876.41",11172,"70,953.01"
42,58,Estela Herrera González,"56,208.08",1500,2022-02-18,"1,969.16","12,081.88","1,626.08","10,227.82","1,686.24",...,"12,081.88","1,609.47","15,888.93","1,686.24","42,516.73","28,104.04","6,557.61","709,158.61",18000,"210,902.07"
43,59,Rosa Isela Gallegos Orozco,"5,255.24",263,2022-03-01,183.09,-17.41,132.19,"1,439.97",157.66,...,-17.41,132.89,"1,874.04",157.66,"5,139.76","2,627.62",613.11,"66,303.61",3156,"24,380.37"
44,60,Maria Del Carmen Tamayo Sanchez Mejorada,"17,687.64",884,2022-05-16,616.24,"2,336.92",484.76,"3,544.40",530.63,...,"2,336.92",462.21,"5,130.07",530.63,"14,888.51","8,843.82","2,063.56","223,159.06",10608,"67,928.39"
45,61,Monica Alvarado Espindola,"17,687.64",884,2022-05-16,616.24,"2,336.92",484.76,"3,544.40",530.63,...,"2,336.92",462.21,"5,130.07",530.63,"14,888.51","8,843.82","2,063.56","223,159.06",10608,"67,928.39"
46,62,Dulce Nelida Martinez Ruvalcaba,"17,687.64",884,2022-06-01,616.24,"2,336.92",484.76,"3,544.40",530.63,...,"2,336.92",462.21,"5,130.07",530.63,"14,888.51","8,843.82","2,063.56","223,159.06",10608,"67,928.39"
47,63,Brenda Hernandez Jimenez,"17,687.64",884,2022-06-16,616.24,"2,336.92",484.76,"3,544.40",530.63,...,"2,336.92",462.21,"5,130.07",530.63,"14,888.51","8,843.82","2,063.56","223,159.06",10608,"67,928.39"
48,64,Katya Del Rocío López Ramírez,"17,687.64",884,2022-06-16,616.24,"2,336.92",484.76,"3,544.40",530.63,...,"2,336.92",462.21,"5,130.07",530.63,"14,888.51","8,843.82","2,063.56","223,159.06",10608,"67,928.39"
49,65,José Alfredo López Madrigal,"17,687.64",884,2022-06-16,616.24,"2,336.92",484.76,"3,544.40",530.63,...,"2,336.92",462.21,"5,130.07",530.63,"14,888.51","8,843.82","2,063.56","223,159.06",10608,"67,928.39"
50,66,Jesus Geovanni Ruvalcaba Mota,"17,687.64",884,2022-07-01,616.24,"2,336.92",484.76,"3,544.40",530.63,...,"2,336.92",462.21,"5,130.07",530.63,"14,888.51","8,843.82","2,063.56","223,159.06",10608,"67,928.39"
51,67,Luis Manuel Guerrero Alcantara,"19,500.08",975,2022-08-22,679.38,"2,724.05",538.03,"3,856.34",585.00,...,"2,724.05",515.76,"6,045.50",585.00,"16,260.27","9,750.04","2,275.01","246,026.01",11700,"79,566.03"
52,68,Shaila Barradas Santiago,"18,616.36",931,2022-09-19,648.60,"2,535.29",512.05,"3,704.25",558.49,...,"2,535.29",489.65,"5,354.26",558.49,"15,591.42","9,308.18","2,171.91","234,876.41",11172,"70,953.01"
53,69,Sergio Alexis Bautista Ángeles,"31,887.10",1500,2022-12-01,"1,121.81","5,475.73",911.26,"6,041.92",956.61,...,"5,475.73",890.89,"9,421.72",956.61,"25,520.48","15,943.55","3,720.16","402,308.91",18000,"124,540.00"

In [ ]:
# df.to_excel('./resultados/proyeccion2023p.xlsx', index=False, sheet_name='proyeccion')

In [ ]:
df_t = df.copy(deep=True)

In [ ]:
df_t.T.head(14)

In [ ]:
df_t = df_t.T

In [ ]:
# df_t.to_excel('./resultados/proyeccion_t.xlsx', index=True, sheet_name='proyeccion')

In [33]:
df.to_excel('./resultados/proyeccion2023_pp.xlsx', index=False, sheet_name='proyeccion')