In [8]:
import pandas as pd
from cuotasimss import CuotasImss
from imss import CalculoIMSSObrero, CalculoIMSSPatron
from isr import ISR
from datetime import datetime
from sbc import SBC
pd.options.display.float_format = '{:,.2f}'.format

In [9]:
df = pd.read_excel('./data/plantilla_laboral2.xlsx', sheet_name='Hoja1') #2022-10-27 incremento
df.head()

   Id                            Nombre  Sueldo mensual  Vales Fecha Ingreso
0   1      Martha Rosa Alvarez Martínez       33,256.68   1500    2019-06-03
1   2  Tania Monserrat Bañuelos Murillo       25,931.50   1297    2019-06-17
2   6        Karla Berenice Cano Garcia       22,960.82   1148    2019-07-23
3   7     Jonathan Covarrubias Sustaita       21,719.58   1086    2019-03-04
4   8              Miguel Dionicio Luna       27,315.62   1366    2018-01-09

In [10]:
df['Fecha Ingreso'] = pd.to_datetime(df['Fecha Ingreso'], format='%Y-%m-%d')

In [11]:
date_2022 = pd.to_datetime('2022/12/31')

In [12]:
df['SD'] = df['Sueldo mensual'].apply(lambda x: x / 30)
df['SBC'] = df.apply(lambda x: SBC.funcion_sbc(sueldo = x['Sueldo mensual'], vales = x['Vales'], a = x['Fecha Ingreso'], b = date_2022), axis=1)
df['ISR'] = (df['Sueldo mensual'] * 1).apply(lambda x: ISR.function_isr(x))
df['IMSS_Ob'] = df['SBC'].apply(lambda x: CalculoIMSSObrero.function_imss_obrero(x))
df['IMSS_Pt'] = df.apply(lambda x: CalculoIMSSPatron.function_imss_patronal(x = x['SBC'], date=date_2022 ), axis=1)
df['ISN'] = df['Sueldo mensual'] * 0.03
_isr_ = df['Sueldo mensual'].apply(lambda x: ISR.function_isr(x))
df['Neto'] = df['Sueldo mensual'] - _isr_ - df['IMSS_Ob']
df['Aguinaldo'] = df.apply(lambda x: SBC.funcion_aguinaldo(sueldo = x['Sueldo mensual'], a = x['Fecha Ingreso'], b = date_2022), axis=1)
df['Prima Vacacional'] = df.apply(lambda x: SBC.funcion_pv(sueldo = x['Sueldo mensual'], date_ingreso = x['Fecha Ingreso'], date_base = date_2022), axis=1)

In [13]:
df.head()

,Id,Nombre,Sueldo mensual,Vales,Fecha Ingreso,SD,SBC,ISR,IMSS_Ob,IMSS_Pt,ISN,Neto,Aguinaldo,Prima Vacacional
0,1,Martha Rosa Alvarez Martínez,"33,256.68",1500,2019-06-03,"1,108.56","1,172.56","5,797.85",954.07,"6,292.64",997.70,"26,504.76","16,628.34","2,771.39"
1,2,Tania Monserrat Bañuelos Murillo,"25,931.50",1297,2019-06-17,864.38,910.00,"4,097.80",732.57,"4,995.59",777.94,"21,101.13","12,965.75","2,160.96"
2,6,Karla Berenice Cano Garcia,"22,960.82",1148,2019-07-23,765.36,802.05,"3,463.27",641.51,"4,462.32",688.82,"18,856.04","11,480.41","1,913.40"
3,7,Jonathan Covarrubias Sustaita,"21,719.58",1086,2019-03-04,723.99,758.70,"3,198.14",604.93,"4,248.15",651.59,"17,916.51","10,859.79","1,809.97"
4,8,Miguel Dionicio Luna,"27,315.62",1366,2018-01-09,910.52,961.87,"4,400.52",776.33,"5,251.82",819.47,"22,138.77","13,657.81","2,731.56"

In [14]:
df.tail(5)

,Id,Nombre,Sueldo mensual,Vales,Fecha Ingreso,SD,SBC,ISR,IMSS_Ob,IMSS_Pt,ISN,Neto,Aguinaldo,Prima Vacacional
49,65,José Alfredo López Madrigal,"17,687.64",884,2022-06-16,589.59,616.24,"2,336.92",484.76,"3,544.40",530.63,"14,865.96","4,775.66",0.00
50,66,Jesus Geovanni Ruvalcaba Mota,"17,687.64",884,2022-07-01,589.59,616.24,"2,336.92",484.76,"3,544.40",530.63,"14,865.96","4,421.91",0.00
51,67,Luis Manuel Guerrero Alcantara,"19,500.08",975,2022-08-22,650.00,679.38,"2,724.05",538.03,"3,856.34",585.00,"16,238.00","3,510.01",0.00
52,68,Shaila Barradas Santiago,"18,616.36",931,2022-09-19,620.55,648.60,"2,535.29",512.05,"3,704.25",558.49,"15,569.02","2,606.29",0.00
53,69,Sergio Alexis Bautista Ángeles,"31,887.10",1500,2022-12-01,"1,062.90","1,121.81","5,475.73",911.26,"6,041.92",956.61,"25,500.11","1,275.48",0.00

In [15]:
df.query('Nombre.str.contains("Sergio")', engine='python')

,Id,Nombre,Sueldo mensual,Vales,Fecha Ingreso,SD,SBC,ISR,IMSS_Ob,IMSS_Pt,ISN,Neto,Aguinaldo,Prima Vacacional
16,25,Sergio Alberto Moreno González,"27,951.88",1398,2019-06-03,931.73,983.90,"4,550.16",794.92,"5,360.65",838.56,"22,606.80","13,975.94","2,329.32"
53,69,Sergio Alexis Bautista Ángeles,"31,887.10",1500,2022-12-01,"1,062.90","1,121.81","5,475.73",911.26,"6,041.92",956.61,"25,500.11","1,275.48",0.00

In [16]:
calculo = df.query('Nombre.str.contains("Sergio")', engine='python')

In [17]:
calculo.T

,16,53
Id,25,69
Nombre,Sergio Alberto Moreno González,Sergio Alexis Bautista Ángeles
Sueldo mensual,"27,951.88","31,887.10"
Vales,1398,1500
Fecha Ingreso,2019-06-03 00:00:00,2022-12-01 00:00:00
SD,931.73,"1,062.90"
SBC,983.90,"1,121.81"
ISR,"4,550.16","5,475.73"
IMSS_Ob,794.92,911.26
IMSS_Pt,"5,360.65","6,041.92"
ISN,838.56,956.61
Neto,"22,606.80","25,500.11"
Aguinaldo,"13,975.94","1,275.48"
Prima Vacacional,"2,329.32",0.00

In [ ]:
df.to_excel('./resultados/calculos.xlsx', index=False, sheet_name='2022-11-03')

In [ ]:
df.query('Nombre.str.contains("Ana Gómez")', engine='python').T