In [7]:
import pandas as pd
from cuotasimss import CuotasImss
from imss import CalculoIMSSObrero, CalculoIMSSPatron
from isr import ISR
from datetime import datetime
from sbc import SBC
pd.options.display.float_format = '{:,.2f}'.format

In [19]:
df = pd.read_excel('./data/plantilla_laboral2.xlsx', sheet_name='Hoja1') #2022-10-27 incremento
df.head()

   Id                            Nombre  Sueldo mensual  Vales Fecha Ingreso
0   1      Martha Rosa Alvarez Martínez       33,256.68   1500    2019-06-03
1   2  Tania Monserrat Bañuelos Murillo       25,931.50   1297    2019-06-17
2   6        Karla Berenice Cano Garcia       22,960.82   1148    2019-07-23
3   7     Jonathan Covarrubias Sustaita       21,719.58   1086    2019-03-04
4   8              Miguel Dionicio Luna       27,315.62   1366    2018-01-09

In [20]:
df['Fecha Ingreso'] = pd.to_datetime(df['Fecha Ingreso'], format='%Y-%m-%d')

In [21]:
date_2022 = pd.to_datetime('2022/12/31')
date_ = pd.to_datetime('2022/12/31')

In [22]:
df['SD'] = df['Sueldo mensual'].apply(lambda x: x / 30)
df['SBC'] = df.apply(lambda x: SBC.funcion_sbc(sueldo = x['Sueldo mensual'], vales = x['Vales'], a = x['Fecha Ingreso'], b = date_2022), axis=1)
df['ISR'] = (df['Sueldo mensual'] * 1).apply(lambda x: ISR.function_isr(x))
df['IMSS_Ob'] = df['SBC'].apply(lambda x: CalculoIMSSObrero.function_imss_obrero(x))
df['IMSS_Pt'] = df.apply(lambda x: CalculoIMSSPatron.function_imss_patronal(x = x['SBC'], date=date_ ), axis=1)
df['ISN'] = df['Sueldo mensual'] * 0.03
_isr_ = df['Sueldo mensual'].apply(lambda x: ISR.function_isr(x))
df['Neto'] = df['Sueldo mensual'] - _isr_ - df['IMSS_Ob']
df['Aguinaldo'] = df.apply(lambda x: SBC.funcion_aguinaldo(sueldo = x['Sueldo mensual'], a = x['Fecha Ingreso'], b = date_2022), axis=1)
df['Prima Vacacional'] = df.apply(lambda x: SBC.funcion_pv(sueldo = x['Sueldo mensual'], date_ingreso = x['Fecha Ingreso'], date_base = date_2022), axis=1)

In [23]:
df

,Id,Nombre,Sueldo mensual,Vales,Fecha Ingreso,SD,SBC,ISR,IMSS_Ob,IMSS_Pt,ISN,Neto,Aguinaldo,Prima Vacacional
0,1,Martha Rosa Alvarez Martínez,"33,256.68",1500,2019-06-03,"1,108.56","1,172.56","5,797.85",954.07,"6,292.64",997.70,"26,504.76","16,628.34","2,771.39"
1,2,Tania Monserrat Bañuelos Murillo,"25,931.50",1297,2019-06-17,864.38,910.00,"4,097.80",732.57,"4,995.59",777.94,"21,101.13","12,965.75","2,160.96"
2,6,Karla Berenice Cano Garcia,"22,960.82",1148,2019-07-23,765.36,802.05,"3,463.27",641.51,"4,462.32",688.82,"18,856.04","11,480.41","1,913.40"
3,7,Jonathan Covarrubias Sustaita,"21,719.58",1086,2019-03-04,723.99,758.70,"3,198.14",604.93,"4,248.15",651.59,"17,916.51","10,859.79","1,809.97"
4,8,Miguel Dionicio Luna,"27,315.62",1366,2018-01-09,910.52,961.87,"4,400.52",776.33,"5,251.82",819.47,"22,138.77","13,657.81","2,731.56"
5,9,José Manuel Franco González,"38,020.36",1500,2015-07-09,"1,267.35","1,342.43","6,918.27","1,097.37","7,131.79","1,140.61","30,004.72","19,010.18","4,435.71"
6,11,Ana Gómez Gallardo Aguilar,"82,484.98",1500,2018-02-01,"2,749.50","2,895.94","19,990.42","1,994.18","12,383.36","2,474.55","60,500.38","41,242.49","8,248.50"
7,12,Juan Manuel González Barajas,"177,157.22",1500,2018-11-05,"5,905.24","6,207.31","51,663.04","1,994.18","12,383.36","5,314.72","123,500.00","88,578.61","17,715.72"
8,13,Gerardo González Flores,"21,719.58",1086,2019-09-02,723.99,758.70,"3,198.14",604.93,"4,248.15",651.59,"17,916.51","10,859.79","1,809.97"
9,14,Mónica González Garduño,"20,481.40",1024,2018-01-24,682.71,716.38,"2,933.66",569.24,"4,039.12",614.44,"16,978.50","10,240.70","2,048.14"
10,15,Ana Paula Gout Martinez De Velasco,"47,275.96",1500,2018-09-17,"1,575.87","1,664.43","9,402.24","1,369.01","8,722.47","1,418.28","36,504.71","23,637.98","4,727.60"
11,18,Rosa Juarez Pinzon,"22,960.82",1148,2019-06-17,765.36,802.05,"3,463.27",641.51,"4,462.32",688.82,"18,856.04","11,480.41","1,913.40"
12,19,Karen Alejandra Lara Paz,"26,059.80",1303,2019-06-17,868.66,914.68,"4,125.21",736.53,"5,018.73",781.79,"21,198.06","13,029.90","2,171.65"
13,21,Adela Marín Castillo,"34,620.44",1500,2015-07-01,"1,154.01","1,223.37","6,118.61",996.93,"6,543.64","1,038.61","27,504.90","17,310.22","4,039.05"
14,23,Samantha Itzel Martinez Narcizo,"25,931.50",1297,2019-06-17,864.38,910.00,"4,097.80",732.57,"4,995.59",777.94,"21,101.13","12,965.75","2,160.96"
15,24,Manuel Alejandro Monroy Cruz,"21,718.36",1086,2019-11-01,723.95,758.66,"3,197.88",604.90,"4,247.95",651.55,"17,915.58","10,859.18","1,809.86"
16,25,Sergio Alberto Moreno González,"27,951.88",1398,2019-06-03,931.73,983.90,"4,550.16",794.92,"5,360.65",838.56,"22,606.80","13,975.94","2,329.32"
17,26,Ricardo Neri Vázquez,"16,144.52",807,2016-01-16,538.15,565.43,"2,007.31",441.90,"3,293.41",484.34,"13,695.31","8,072.26","1,883.53"
18,27,Stephany Peniche Ake,"20,480.18",1024,2019-06-17,682.67,715.41,"2,933.40",568.42,"4,034.33",614.41,"16,978.36","10,240.09","1,706.68"
19,28,Andrés Peña Peralta,"39,985.42",1500,2015-06-01,"1,332.85","1,411.25","7,380.45","1,155.43","7,471.77","1,199.56","31,449.54","19,992.71","4,664.97"
20,29,Francisco Javier Perez Gaspar,"20,480.18",1024,2019-06-17,682.67,715.41,"2,933.40",568.42,"4,034.33",614.41,"16,978.36","10,240.09","1,706.68"
21,30,Ángel Manuel Ramírez Contreras,"30,540.14",1500,2013-11-01,"1,018.00","1,080.46","5,158.92",876.37,"5,837.66",916.20,"24,504.85","15,270.07","3,563.02"
22,31,Nayeli Melisa Rodriguez Leonardo,"29,228.38",1461,2018-11-05,974.28,"1,031.90","4,850.40",835.41,"5,597.78",876.85,"23,542.57","14,614.19","2,922.84"
23,33,Jose Maria Sandoval Torres,"22,960.82",1148,2019-06-17,765.36,802.05,"3,463.27",641.51,"4,462.32",688.82,"18,856.04","11,480.41","1,913.40"
24,35,Elias Ebeth Teco Sánchez,"38,700.42",1500,2016-06-27,"1,290.01","1,366.25","7,078.22","1,117.47","7,249.46","1,161.01","30,504.73","19,350.21","4,515.05"
25,36,María Alejandra Torres Sandoval,"35,980.22",1500,2014-01-20,"1,199.34","1,270.98","6,438.43","1,037.10","6,778.85","1,079.41","28,504.69","17,990.11","4,197.69"
26,38,Ana Norely Flores Robles,"21,098.82",1055,2020-07-13,703.29,736.04,"3,065.54",585.83,"4,136.25",632.96,"17,447.45","10,549.41","1,406.59"
27,40,Ismael Martinez Gallegos,"46,969.82",1500,2020-10-08,"1,565.66","1,649.43","9,310.40","1,356.36","8,648.40","1,409.09","36,303.06","23,484.91","3,131.32"
28,41,Margaux Andree B Jacquemin X,"27,315.62",1366,2018-01-16,910.52,961.87,"4,400.52",776.33,"5,251.82",819.47,"22,138.77","13,657.81","2,731.56"
29,42,Rogelio Cervantes Moreno,"29,228.38",1461,2019-06-16,974.28,"1,030.56","4,850.40",834.28,"5,591.16",876.85,"23,543.70","14,614.19","2,435.70"
30,43,Sarai Rosas Trujillo,"42,092.14",1500,2019-01-07,"1,403.07","1,481.20","7,875.95","1,214.44","7,817.30","1,262.76","33,001.75","21,046.07","3,507.68"
31,44,Ethel Edith Montoya Crespo,"22,960.82",1148,2019-06-17,765.36,802.05,"3,463.27",641.51,"4,462.32",688.82,"18,856.04","11,480.41","1,913.40"
32,46,Susana Garza Leon,"18,619.40",931,2021-07-01,620.65,648.71,"2,535.94",512.15,"3,704.80",558.58,"15,571.31","9,309.70",930.97
33,48,Brenda Bernaldez Ruiz,"82,484.32",1500,2017-12-11,"2,749.48","2,899.68","19,990.21","1,994.18","12,383.36","2,474.53","60,499.93","41,242.16","9,623.17"
34,49,Tania Alejandra Lopez Conde Cervantes,"34,616.78",1500,2019-02-01,"1,153.89","1,220.07","6,117.75",994.15,"6,527.32","1,038.50","27,504.88","17,308.39","2,884.73"
35,50,Zurisadai Arano Rivera,"26,685.42",1334,2019-05-27,889.51,937.56,"4,258.84",755.82,"5,131.73",800.56,"21,670.76","13,342.71","2,223.78"
36,51,Maria Del Pilar Velez Jimenez,"25,442.68",1272,2020-08-01,848.09,890.94,"3,993.39",716.50,"4,901.45",763.28,"20,732.79","12,721.34","1,696.18"
37,52,Blanca Elena Leiva Lopez,"25,442.68",1272,2020-09-01,848.09,890.94,"3,993.39",716.50,"4,901.45",763.28,"20,732.79","12,721.34","1,696.18"
38,53,Ricardo Chavez Rebolledo,"29,225.34",1461,2021-09-01,974.18,"1,027.78","4,849.68",831.93,"5,577.41",876.76,"23,543.73","14,612.67","1,461.27"
39,55,Josué Leon Morales,"19,238.94",962,2022-01-16,641.30,670.29,"2,668.27",530.35,"3,811.41",577.17,"16,040.32","9,224.15",0.00
40,56,Elías Trinidad Ramos Razo,"16,757.70",838,2022-02-01,558.59,583.85,"2,138.28",457.43,"3,384.41",502.73,"14,161.99","7,667.22",0.00
41,57,Mariana Ramírez Castillo,"18,616.36",931,2022-02-01,620.55,648.60,"2,535.29",512.05,"3,704.25",558.49,"15,569.02","8,517.62",0.00
42,58,Estela Herrera González,"56,208.08",1500,2022-02-18,"1,873.60","1,969.16","12,081.88","1,626.08","10,227.82","1,686.24","42,500.12","24,408.17",0.00
43,59,Rosa Isela Gallegos Orozco,"5,255.24",263,2022-03-01,175.17,183.09,-17.41,132.19,"1,439.97",157.66,"5,140.46","2,202.88",0.00
44,60,Maria Del Carmen Tamayo Sanchez Mejorada,"17,687.64",884,2022-05-16,589.59,616.24,"2,336.92",484.76,"3,544.40",530.63,"14,865.96","5,572.82",0.00
45,61,Monica Alvarado Espindola,"17,687.64",884,2022-05-16,589.59,616.24,"2,336.92",484.76,"3,544.40",530.63,"14,865.96","5,572.82",0.00
46,62,Dulce Nelida Martinez Ruvalcaba,"17,687.64",884,2022-06-01,589.59,616.24,"2,336.92",484.76,"3,544.40",530.63,"14,865.96","5,185.14",0.00
47,63,Brenda Hernandez Jimenez,"17,687.64",884,2022-06-16,589.59,616.24,"2,336.92",484.76,"3,544.40",530.63,"14,865.96","4,821.70",0.00
48,64,Katya Del Rocío López Ramírez,"17,687.64",884,2022-06-16,589.59,616.24,"2,336.92",484.76,"3,544.40",530.63,"14,865.96","4,821.70",0.00
49,65,José Alfredo López Madrigal,"17,687.64",884,2022-06-16,589.59,616.24,"2,336.92",484.76,"3,544.40",530.63,"14,865.96","4,821.70",0.00
50,66,Jesus Geovanni Ruvalcaba Mota,"17,687.64",884,2022-07-01,589.59,616.24,"2,336.92",484.76,"3,544.40",530.63,"14,865.96","4,458.25",0.00
51,67,Luis Manuel Guerrero Alcantara,"21,717.75",1086,2022-08-22,723.92,756.65,"3,197.75",603.21,"4,238.07",651.53,"17,916.79","3,927.05",0.00
52,68,Shaila Barradas Santiago,"18,616.36",931,2022-09-19,620.55,648.60,"2,535.29",512.05,"3,704.25",558.49,"15,569.02","2,652.19",0.00
53,69,Sergio Alexis Bautista Ángeles,"31,887.10",1500,2022-12-01,"1,062.90","1,121.81","5,475.73",911.26,"6,041.92",956.61,"25,500.11","1,354.11",0.00

In [ ]:
df.head()

In [ ]:
df.tail(5)

In [ ]:
df.query('Nombre.str.contains("Rogelio")', engine='python')

In [ ]:
calculo = df.query('Nombre.str.contains("Sergio")', engine='python')

In [ ]:
calculo.T

In [18]:
df.to_excel('./resultados/calculos_dic_.xlsx', index=False, sheet_name='2022-12-31')

In [ ]:
df.query('Nombre.str.contains("Ana Gómez")', engine='python').T