In [11]:
import pandas as pd
from cuotasimss import CuotasImss
from imss import CalculoIMSSObrero, CalculoIMSSPatron
from isr import ISR
from datetime import datetime
from sbc import SBC
pd.options.display.float_format = '{:,.2f}'.format

In [12]:
from incremento import Incremento

In [13]:
sueldo = 25500
fch_ing = '2021/12/01'
fch_bse = '2022/12/31'
vales = 1500
goal = 25500
nombre = 'Prueba'

In [14]:
incremento = Incremento()
incremento.set_data(sueldo = sueldo, fch_ing = fch_ing, fch_bse = fch_bse, vales = vales, goal = goal)
incremento.incremento()

6387

In [15]:
sueldo_mensual = sueldo + incremento.incremento()
sueldo_mensual * 0.05//1

1594.0

In [16]:
diccionario = {'Nombre':[nombre],
              'Sueldo mensual':[sueldo_mensual],
              'Vales':[vales],
              'Fecha Ingreso':[fch_ing]}

In [17]:
df = pd.DataFrame(diccionario)

In [18]:
df

   Nombre  Sueldo mensual  Vales Fecha Ingreso
0  Prueba           31887   1500    2021/12/01

In [19]:
df['Fecha Ingreso'] = pd.to_datetime(df['Fecha Ingreso'], format='%Y-%m-%d')
date_2022 = pd.to_datetime('2022/12/31')

df['SD'] = df['Sueldo mensual'].apply(lambda x: x / 30)
df['SBC'] = df.apply(lambda x: SBC.funcion_sbc(sueldo = x['Sueldo mensual'], vales = x['Vales'], a = x['Fecha Ingreso'], b = date_2022), axis=1)
df['ISR'] = (df['Sueldo mensual'] * 1).apply(lambda x: ISR.function_isr(x))
df['IMSS_Ob'] = df['SBC'].apply(lambda x: CalculoIMSSObrero.function_imss_obrero(x))
df['IMSS_Pt'] = df.apply(lambda x: CalculoIMSSPatron.function_imss_patronal(x = x['SBC'], date=date_2022 ), axis=1)
df['ISN'] = df['Sueldo mensual'] * 0.03
_isr_ = df['Sueldo mensual'].apply(lambda x: ISR.function_isr(x))
df['Neto'] = df['Sueldo mensual'] - _isr_ - df['IMSS_Ob']
df['Aguinaldo'] = df.apply(lambda x: SBC.funcion_aguinaldo(sueldo = x['Sueldo mensual'], a = x['Fecha Ingreso'], b = date_2022), axis=1)
df['Prima Vacacional'] = df.apply(lambda x: SBC.funcion_pv(sueldo = x['Sueldo mensual'], date_ingreso = x['Fecha Ingreso'], date_base = date_2022), axis=1)

In [20]:
df.T

                                    0
Nombre                         Prueba
Sueldo mensual                  31887
Vales                            1500
Fecha Ingreso     2021-12-01 00:00:00
SD                           1,062.90
SBC                          1,121.80
ISR                          5,475.70
IMSS_Ob                        911.25
IMSS_Pt                      6,041.90
ISN                            956.61
Neto                        25,500.05
Aguinaldo                   15,943.50
Prima Vacacional             1,594.35