In [1]:
import pandas as pd
from cuotasimss import CuotasImss
from imss import CalculoIMSSObrero, CalculoIMSSPatron
from isr import ISR
from datetime import datetime
from sbc import SBC
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
df = pd.read_excel('./data/plantilla_laboral2.xlsx', sheet_name='Hoja1')
df.head()

   Id                            Nombre  Sueldo mensual    Vales Fecha Ingreso
0   1      Martha Rosa Alvarez Martínez       33,256.68 1,500.00    2019-06-03
1   2  Tania Monserrat Bañuelos Murillo       25,931.50 1,297.00    2019-06-17
2   6        Karla Berenice Cano Garcia       22,960.82 1,148.00    2019-07-23
3   7     Jonathan Covarrubias Sustaita       21,719.58 1,086.00    2019-03-04
4   8              Miguel Dionicio Luna       27,315.62 1,366.00    2018-01-09

In [3]:
df['Fecha Ingreso'] = pd.to_datetime(df['Fecha Ingreso'], format='%Y-%m-%d')

In [4]:
date_2022 = pd.to_datetime('2022/12/31')

In [5]:
df['SDI_2022'] = df.apply(lambda x: SBC.funcion_sdi(sueldo = x['Sueldo mensual'], a = x['Fecha Ingreso'], b = date_2022), axis=1)
df['SBC_2022'] = df.apply(lambda x: SBC.funcion_sbc(sueldo = x['Sueldo mensual'], vales = x['Vales'], a = x['Fecha Ingreso'], b = date_2022), axis=1)
df['ISR_2022'] = (df['SDI_2022'] * 30.4).apply(lambda x: ISR.function_isr(x))
df['IMSS_O_2022'] = df['SBC_2022'].apply(lambda x: CalculoIMSSObrero.function_imss_obrero(x))
df['IMSS_P_2022'] = df['SBC_2022'].apply(lambda x: CalculoIMSSPatron.function_imss_patronal(x))
df['ISN_2022'] = df['Sueldo mensual'] * 0.03
_isr_ = df['Sueldo mensual'].apply(lambda x: ISR.function_isr(x))
df['Neto'] = df['Sueldo mensual'] - _isr_ - df['IMSS_O_2022']
df['Aguinaldo_2022'] = df.apply(lambda x: SBC.funcion_aguinaldo(sueldo = x['Sueldo mensual'], a = x['Fecha Ingreso'], b = date_2022), axis=1)
df['Prima Vacacional_2022'] = df.apply(lambda x: SBC.funcion_pv(sueldo = x['Sueldo mensual'], date_ingreso = x['Fecha Ingreso'], date_base = date_2022), axis=1)

In [6]:
df.tail()

,Id,Nombre,Sueldo mensual,Vales,Fecha Ingreso,SDI_2022,SBC_2022,ISR_2022,IMSS_O_2022,IMSS_P_2022,ISN_2022,Neto,Aguinaldo_2022,Prima Vacacional_2022
47,63,Brenda Hernandez Jimenez,"17,687.64",884.00,2022-06-16,616.24,616.24,"2,560.34",484.76,"3,552.56",530.63,"14,865.96","4,775.66",0.00
48,64,Katya Del Rocío López Ramírez,"17,687.64",884.00,2022-06-16,616.24,616.24,"2,560.34",484.76,"3,552.56",530.63,"14,865.96","4,775.66",0.00
49,65,José Alfredo López Madrigal,"17,687.64",884.00,2022-06-16,616.24,616.24,"2,560.34",484.76,"3,552.56",530.63,"14,865.96","4,775.66",0.00
50,66,Jesus Geovanni Ruvalcaba Mota,"17,687.64",884.00,2022-07-01,616.24,616.24,"2,560.34",484.76,"3,552.56",530.63,"14,865.96","4,421.91",0.00
51,67,Luis Manuel Guerrero Alcantara,"19,500.08",975.00,2022-08-22,679.38,679.38,"2,970.37",538.03,"3,865.33",585.00,"16,238.00","3,510.01",0.00

In [7]:
aumento_2023 = 1.09

In [8]:
def vales_2023(vale):
    if (vale * aumento_2023) >= 1500:
        return 1500.0
    else:
        return (vale * aumento_2023)

In [9]:
def imss_pt_2023(x):
    nomina = CalculoIMSSPatron()
    nomina.set_sdi(x)
    nomina._uma = 96.22 * aumento_2023
    return nomina.total_imss()

In [10]:
def imss_ob_2023(x):
    nomina = CalculoIMSSObrero()
    nomina.set_sdi(x)
    nomina._uma = 96.22 * aumento_2023
    return nomina.total_imss()

In [11]:
date_2023 = pd.to_datetime('2023/12/31')

In [12]:
df['Sueldo 2023'] = df['Sueldo mensual'].apply(lambda x: x * aumento_2023)
df['Vales 2023'] = df['Vales'].apply(lambda x: vales_2023(x) )

In [13]:
df['SDI_2023'] = df.apply(lambda x: SBC.funcion_sdi(sueldo = x['Sueldo 2023'], a = x['Fecha Ingreso'], b = date_2023), axis=1)
df['SBC_2023'] = df.apply(lambda x: SBC.funcion_sbc(sueldo = x['Sueldo 2023'], vales = x['Vales 2023'], a = x['Fecha Ingreso'], b = date_2023), axis=1)
df['ISR_2023'] = (df['SDI_2023'] * 30.4).apply(lambda x: ISR.function_isr(x))
df['IMSS_O_2023'] = df['SBC_2023'].apply(lambda x: imss_ob_2023(x))
df['IMSS_P_2023'] = df['SBC_2023'].apply(lambda x: imss_pt_2023(x))
df['ISN_2023'] = df['Sueldo 2023'] * 0.03
_isr_ = df['Sueldo 2023'].apply(lambda x: ISR.function_isr(x))
df['Neto 2023'] = df['Sueldo 2023'] - _isr_ - df['IMSS_O_2023']
df['Aguinaldo_2023'] = df.apply(lambda x: SBC.funcion_aguinaldo(sueldo = x['Sueldo 2023'], a = x['Fecha Ingreso'], b = date_2023), axis=1)
df['Prima Vacacional_2023'] = df.apply(lambda x: SBC.funcion_pv(sueldo = x['Sueldo 2023'], date_ingreso = x['Fecha Ingreso'], date_base = date_2023), axis=1)

In [14]:
df.tail()

,Id,Nombre,Sueldo mensual,Vales,Fecha Ingreso,SDI_2022,SBC_2022,ISR_2022,IMSS_O_2022,IMSS_P_2022,...,Vales 2023,SDI_2023,SBC_2023,ISR_2023,IMSS_O_2023,IMSS_P_2023,ISN_2023,Neto 2023,Aguinaldo_2023,Prima Vacacional_2023
47,63,Brenda Hernandez Jimenez,"17,687.64",884.00,2022-06-16,616.24,616.24,"2,560.34",484.76,"3,552.56",...,963.56,671.70,671.70,"2,920.49",528.39,"3,872.31",578.39,"16,074.20","9,639.76",963.98
48,64,Katya Del Rocío López Ramírez,"17,687.64",884.00,2022-06-16,616.24,616.24,"2,560.34",484.76,"3,552.56",...,963.56,671.70,671.70,"2,920.49",528.39,"3,872.31",578.39,"16,074.20","9,639.76",963.98
49,65,José Alfredo López Madrigal,"17,687.64",884.00,2022-06-16,616.24,616.24,"2,560.34",484.76,"3,552.56",...,963.56,671.70,671.70,"2,920.49",528.39,"3,872.31",578.39,"16,074.20","9,639.76",963.98
50,66,Jesus Geovanni Ruvalcaba Mota,"17,687.64",884.00,2022-07-01,616.24,616.24,"2,560.34",484.76,"3,552.56",...,963.56,671.70,671.70,"2,920.49",528.39,"3,872.31",578.39,"16,074.20","9,639.76",963.98
51,67,Luis Manuel Guerrero Alcantara,"19,500.08",975.00,2022-08-22,679.38,679.38,"2,970.37",538.03,"3,865.33",...,"1,062.75",740.53,740.53,"3,367.44",586.45,"4,213.25",637.65,"17,569.72","10,627.54","1,062.75"

In [15]:
aumento_2024 = 1.18

In [16]:
def vales_2024(vale):
    if (vale * aumento_2023) >= 1500:
        return 1500.0
    else:
        return (vale * aumento_2024)

In [17]:
def imss_pt_2024(x):
    nomina = CalculoIMSSPatron()
    nomina.set_sdi(x)
    nomina._uma = 96.22 * aumento_2024
    return nomina.total_imss()

In [18]:
def imss_ob_2024(x):
    nomina = CalculoIMSSObrero()
    nomina.set_sdi(x)
    nomina._uma = 96.22 * aumento_2024
    return nomina.total_imss()

In [19]:
date_2024 = pd.to_datetime('2024/12/31')

In [20]:
df['Sueldo 2024'] = df['Sueldo mensual'].apply(lambda x: x * aumento_2024)
df['Vales 2024'] = df['Vales'].apply(lambda x: vales_2024(x) )

In [21]:
df['SDI_2024'] = df.apply(lambda x: SBC.funcion_sdi(sueldo = x['Sueldo 2024'], a = x['Fecha Ingreso'], b = date_2024), axis=1)
df['SBC_2024'] = df.apply(lambda x: SBC.funcion_sbc(sueldo = x['Sueldo 2024'], vales = x['Vales 2024'], a = x['Fecha Ingreso'], b = date_2024), axis=1)
df['ISR_2024'] = (df['SDI_2024'] * 30.4).apply(lambda x: ISR.function_isr(x))
df['IMSS_O_2024'] = df['SBC_2024'].apply(lambda x: imss_ob_2024(x))
df['IMSS_P_2024'] = df['SBC_2024'].apply(lambda x: imss_pt_2024(x))
df['ISN_2024'] = df['Sueldo 2024'] * 0.03
_isr_ = df['Sueldo 2024'].apply(lambda x: ISR.function_isr(x))
df['Neto 2024'] = df['Sueldo 2024'] - _isr_ - df['IMSS_O_2024']
df['Aguinaldo_2024'] = df.apply(lambda x: SBC.funcion_aguinaldo(sueldo = x['Sueldo 2024'], a = x['Fecha Ingreso'], b = date_2024), axis=1)
df['Prima Vacacional_2024'] = df.apply(lambda x: SBC.funcion_pv(sueldo = x['Sueldo 2024'], date_ingreso = x['Fecha Ingreso'], date_base = date_2024), axis=1)

In [22]:
df

,Id,Nombre,Sueldo mensual,Vales,Fecha Ingreso,SDI_2022,SBC_2022,ISR_2022,IMSS_O_2022,IMSS_P_2022,...,Vales 2024,SDI_2024,SBC_2024,ISR_2024,IMSS_O_2024,IMSS_P_2024,ISN_2024,Neto 2024,Aguinaldo_2024,Prima Vacacional_2024
0,1,Martha Rosa Alvarez Martínez,"33,256.68","1,500.00",2019-06-03,"1,161.71","1,172.56","6,282.17",954.07,"6,308.16",...,"1,500.00","1,374.40","1,385.25","7,802.92","1,127.18","7,451.70","1,177.29","30,909.89","19,621.44","4,578.34"
1,2,Tania Monserrat Bañuelos Murillo,"25,931.50","1,297.00",2019-06-17,905.82,910.00,"4,452.59",732.57,"5,007.64",...,"1,530.46","1,071.67","1,083.53","5,638.43",872.65,"5,957.19",917.98,"24,553.71","15,299.58","3,569.90"
2,6,Karla Berenice Cano Garcia,"22,960.82","1,148.00",2019-07-23,802.05,802.05,"3,766.90",641.51,"4,472.94",...,"1,354.64",948.90,954.97,"4,760.56",764.19,"5,320.41",812.81,"21,981.24","13,546.88","3,160.94"
3,7,Jonathan Covarrubias Sustaita,"21,719.58","1,086.00",2019-03-04,758.70,758.70,"3,485.38",604.93,"4,258.19",...,"1,281.48",897.60,901.27,"4,393.82",718.89,"5,054.43",768.87,"20,877.00","12,814.55","2,990.06"
4,8,Miguel Dionicio Luna,"27,315.62","1,366.00",2018-01-09,955.42,961.87,"4,807.22",776.33,"5,264.55",...,"1,611.88","1,128.86","1,143.40","6,047.35",923.15,"6,253.76",966.97,"25,752.33","16,116.22","3,760.45"
5,9,José Manuel Franco González,"38,020.36","1,500.00",2015-07-09,"1,331.58","1,342.43","7,496.75","1,097.37","7,149.56",...,"1,500.00","1,571.27","1,582.12","9,549.41","1,293.26","8,426.85","1,345.92","34,892.10","22,432.01","5,234.14"
6,11,Ana Gómez Gallardo Aguilar,"60,699.98","1,500.00",2018-02-01,"2,123.11","2,133.97","14,582.24","1,765.11","11,070.24",...,"1,500.00","2,508.54","2,519.40","18,097.36","2,083.94","13,069.40","2,148.78","52,834.79","35,812.99","8,356.36"
7,12,Juan Manuel González Barajas,"177,157.22","1,500.00",2018-11-05,"6,196.46","6,207.31","55,476.21","1,994.18","12,415.21",...,"1,500.00","7,321.36","7,332.22","67,103.21","2,353.13","14,649.94","6,271.37","144,187.32","104,522.76","24,388.64"
8,13,Gerardo González Flores,"25,291.88","1,443.30",2019-09-02,883.48,892.47,"4,295.68",717.79,"4,920.82",...,"1,500.00","1,045.23","1,056.09","5,449.39",849.50,"5,821.28",895.33,"23,999.63","14,922.21","3,481.85"
9,14,Mónica González Garduño,"20,481.40","1,024.00",2018-01-24,716.38,716.38,"3,210.63",569.24,"4,048.61",...,"1,208.32",846.43,847.69,"4,055.09",673.69,"4,789.05",725.04,"19,773.23","12,084.03","2,819.61"
10,15,Ana Paula Gout Martinez De Velasco,"47,275.96","1,500.00",2018-09-17,"1,653.58","1,664.43","10,300.06","1,369.01","8,744.50",...,"1,500.00","1,953.77","1,964.63","13,037.85","1,615.94","10,321.49","1,673.57","42,214.55","27,892.82","6,508.32"
11,18,Rosa Juarez Pinzon,"22,960.82","1,148.00",2019-06-17,802.05,802.05,"3,766.90",641.51,"4,472.94",...,"1,354.64",948.90,954.97,"4,760.56",764.19,"5,320.41",812.81,"21,981.24","13,546.88","3,160.94"
12,19,Karen Alejandra Lara Paz,"26,059.80","1,303.00",2019-06-17,910.31,914.68,"4,484.67",736.53,"5,030.84",...,"1,537.54","1,076.97","1,089.06","5,676.30",877.31,"5,984.59",922.52,"24,664.83","15,375.28","3,587.57"
13,21,Adela Marín Castillo,"34,620.44","1,500.00",2015-07-01,"1,212.51","1,223.37","6,645.46",996.93,"6,559.83",...,"1,500.00","1,430.76","1,441.61","8,267.96","1,174.72","7,730.87","1,225.56","32,093.10","20,426.06","4,766.08"
14,23,Samantha Itzel Martinez Narcizo,"25,931.50","1,297.00",2019-06-17,905.82,910.00,"4,452.59",732.57,"5,007.64",...,"1,530.46","1,071.67","1,083.53","5,638.43",872.65,"5,957.19",917.98,"24,553.71","15,299.58","3,569.90"
15,24,Manuel Alejandro Monroy Cruz,"21,718.36","1,086.00",2019-11-01,758.66,758.66,"3,485.12",604.90,"4,257.99",...,"1,281.48",897.56,901.22,"4,393.48",718.85,"5,054.19",768.83,"20,875.90","12,813.83","2,989.89"
16,25,Sergio Alberto Moreno González,"27,951.88","1,398.00",2019-06-03,976.40,983.90,"4,957.22",794.92,"5,373.68",...,"1,500.00","1,155.16","1,166.01","6,235.37",942.23,"6,365.77",989.50,"26,307.45","16,491.61","3,848.04"
17,26,Ricardo Neri Vázquez,"16,144.52",807.00,2016-01-16,565.43,565.43,"2,230.43",441.90,"3,300.90",...,952.26,667.21,667.21,"2,891.31",521.44,"3,895.07",571.52,"15,901.06","9,525.27","2,222.56"
18,27,Stephany Peniche Ake,"20,480.18","1,024.00",2019-06-17,715.41,715.41,"3,204.33",568.42,"4,043.80",...,"1,208.32",846.37,847.63,"4,054.71",673.64,"4,788.75",725.00,"19,772.15","12,083.31","2,819.44"
19,28,Andrés Peña Peralta,"39,985.42","1,500.00",2015-06-01,"1,400.40","1,411.25","7,991.08","1,155.43","7,490.46",...,"1,500.00","1,652.47","1,663.32","10,289.98","1,361.76","8,829.06","1,415.48","36,446.75","23,591.40","5,504.66"
20,29,Francisco Javier Perez Gaspar,"20,480.18","1,024.00",2019-06-17,715.41,715.41,"3,204.33",568.42,"4,043.80",...,"1,208.32",846.37,847.63,"4,054.71",673.64,"4,788.75",725.00,"19,772.15","12,083.31","2,819.44"
21,30,Ángel Manuel Ramírez Contreras,"30,540.14","1,500.00",2013-11-01,"1,069.60","1,080.46","5,623.64",876.37,"5,851.97",...,"1,500.00","1,263.78","1,274.63","7,011.98","1,033.86","6,903.77","1,081.12","28,551.64","18,018.68","4,804.98"
22,31,Nayeli Melisa Rodriguez Leonardo,"29,228.38","1,461.00",2018-11-05,"1,022.33","1,031.90","5,285.62",835.41,"5,611.44",...,"1,500.00","1,207.92","1,218.77","6,612.60",986.74,"6,627.10","1,034.68","27,414.94","17,244.74","4,023.77"
23,33,Jose Maria Sandoval Torres,"22,960.82","1,148.00",2019-06-17,802.05,802.05,"3,766.90",641.51,"4,472.94",...,"1,354.64",948.90,954.97,"4,760.56",764.19,"5,320.41",812.81,"21,981.24","13,546.88","3,160.94"
24,35,Elias Ebeth Teco Sánchez,"38,700.42","1,500.00",2016-06-27,"1,355.39","1,366.25","7,667.06","1,117.47","7,267.55",...,"1,500.00","1,599.38","1,610.23","9,805.77","1,316.97","8,566.08","1,369.99","35,430.13","22,833.25","5,327.76"
25,36,María Alejandra Torres Sandoval,"35,980.22","1,500.00",2014-01-20,"1,260.13","1,270.98","6,985.92","1,037.10","6,795.68",...,"1,500.00","1,488.89","1,499.75","8,798.15","1,223.77","8,018.82","1,273.70","33,271.20","21,228.33","5,660.89"
26,38,Ana Norely Flores Robles,"21,098.82","1,055.00",2020-07-13,736.04,736.04,"3,338.29",585.83,"4,145.99",...,"1,244.90",870.81,873.27,"4,213.37",695.27,"4,915.74",746.90,"20,324.59","12,448.30","2,489.66"
27,40,Ismael Martinez Gallegos,"46,969.82","1,500.00",2020-10-08,"1,638.58","1,649.43","10,163.31","1,356.36","8,670.24",...,"1,500.00","1,938.58","1,949.43","12,899.30","1,603.12","10,246.23","1,662.73","41,974.50","27,712.19","5,542.44"
28,41,Margaux Andree B Jacquemin X,"27,315.62","1,366.00",2018-01-16,955.42,961.87,"4,807.22",776.33,"5,264.55",...,"1,611.88","1,128.86","1,143.40","6,047.35",923.15,"6,253.76",966.97,"25,752.33","16,116.22","3,760.45"
29,42,Rogelio Cervantes Moreno,"29,228.38","1,169.00",2019-06-16,"1,020.99","1,020.99","5,276.04",826.21,"5,557.39",...,"1,379.42","1,207.92","1,214.81","6,612.60",983.39,"6,607.46","1,034.68","27,418.29","17,244.74","4,023.77"
30,43,Sarai Rosas Trujillo,"42,092.14","1,500.00",2019-01-07,"1,470.34","1,481.20","8,628.97","1,214.44","7,836.91",...,"1,500.00","1,739.54","1,750.40","11,084.10","1,435.22","9,260.37","1,490.06","38,113.44","24,834.36","5,794.68"
31,44,Ethel Edith Montoya Crespo,"22,960.82","1,148.00",2019-06-17,802.05,802.05,"3,766.90",641.51,"4,472.94",...,"1,354.64",948.90,954.97,"4,760.56",764.19,"5,320.41",812.81,"21,981.24","13,546.88","3,160.94"
32,46,Susana Garza Leon,"18,619.40",931.00,2021-07-01,648.71,648.71,"2,771.17",512.15,"3,713.39",...,"1,098.58",767.48,767.48,"3,542.44",606.03,"4,391.75",659.13,"18,113.04","10,985.45","1,830.91"
33,48,Brenda Bernaldez Ruiz,"82,484.32","1,500.00",2017-12-11,"2,888.83","2,899.68","21,697.74","1,994.18","12,415.21",...,"1,500.00","3,408.82","3,419.68","26,756.26","2,353.13","14,649.94","2,919.94","70,237.06","48,665.75","11,355.34"
34,49,Tania Alejandra Lopez Conde Cervantes,"34,616.78","1,500.00",2019-02-01,"1,209.21","1,220.07","6,621.85",994.15,"6,543.47",...,"1,500.00","1,430.61","1,441.47","8,266.65","1,174.60","7,730.16","1,225.43","32,089.91","20,423.90","4,765.58"
35,50,Zurisadai Arano Rivera,"26,685.42","1,334.00",2019-05-27,932.16,937.56,"4,640.93",755.82,"5,144.14",...,"1,574.12","1,102.83","1,116.12","5,861.18",900.14,"6,118.63",944.66,"25,206.61","15,744.40","3,673.69"
36,51,Maria Del Pilar Velez Jimenez,"25,442.68","1,272.00",2020-08-01,887.59,890.94,"4,322.34",716.50,"4,913.24",...,"1,500.96","1,050.11","1,060.99","5,484.22",853.63,"5,845.57",900.67,"24,131.59","15,011.18","3,002.24"
37,52,Blanca Elena Leiva Lopez,"28,790.40","1,443.30",2020-09-01,"1,004.38","1,013.37","5,157.28",819.78,"5,519.65",...,"1,500.00","1,188.27","1,199.13","6,472.13",970.16,"6,529.78","1,019.18","27,036.26","16,986.34","3,397.27"
38,53,Ricardo Chavez Rebolledo,"32,109.42","1,442.04",2021-09-01,"1,118.70","1,127.65","5,974.71",916.19,"6,085.72",...,"1,500.00","1,323.52","1,334.37","7,439.16","1,084.26","7,199.70","1,136.67","29,917.46","18,944.56","3,157.43"
39,55,Josué Leon Morales,"19,238.94",962.00,2022-01-16,670.29,670.29,"2,911.31",530.35,"3,820.29",...,"1,135.16",791.98,791.98,"3,701.52",626.70,"4,513.10",681.06,"18,667.28","11,350.97","1,513.46"
40,56,Elías Trinidad Ramos Razo,"16,757.70",838.00,2022-02-01,583.85,583.85,"2,350.03",457.43,"3,392.14",...,988.84,689.84,689.84,"3,038.25",540.53,"4,007.15",593.22,"16,450.98","9,887.04","1,318.27"
41,57,Mariana Ramírez Castillo,"18,616.36",931.00,2022-02-01,648.60,648.60,"2,770.45",512.05,"3,712.83",...,"1,098.58",766.34,766.34,"3,535.04",605.07,"4,386.11",659.02,"18,111.18","10,983.65","1,464.49"
42,58,Estela Herrera González,"56,208.08","1,500.00",2022-02-18,"1,958.30","1,969.16","13,079.17","1,626.08","10,253.89",...,"1,500.00","2,313.82","2,324.68","16,321.50","1,919.68","12,104.90","1,989.77","49,288.74","33,162.77","4,421.70"
43,59,Rosa Isela Gallegos Orozco,"5,255.24",263.00,2022-03-01,183.09,183.09,36.98,132.19,"1,442.40",...,310.34,216.33,216.33,187.99,156.19,"1,703.31",186.04,"5,938.91","3,100.59",413.41
44,60,Maria Del Carmen Tamayo Sanchez Mejorada,"17,687.64",884.00,2022-05-16,616.24,616.24,"2,560.34",484.76,"3,552.56",...,"1,043.12",728.11,728.11,"3,286.80",572.82,"4,196.74",626.14,"17,281.63","10,435.71","1,391.43"
45,61,Monica Alvarado Espindola,"17,687.64",884.00,2022-05-16,616.24,616.24,"2,560.34",484.76,"3,552.56",...,"1,043.12",728.11,728.11,"3,286.80",572.82,"4,196.74",626.14,"17,281.63","10,435.71","1,391.43"
46,62,Dulce Nelida Martinez Ruvalcaba,"17,687.64",884.00,2022-06-01,616.24,616.24,"2,560.34",484.76,"3,552.56",...,"1,043.12",728.11,728.11,"3,286.80",572.82,"4,196.74",626.14,"17,281.63","10,435.71","1,391.43"
47,63,Brenda Hernandez Jimenez,"17,687.64",884.00,2022-06-16,616.24,616.24,"2,560.34",484.76,"3,552.56",...,"1,043.12",728.11,728.11,"3,286.80",572.82,"4,196.74",626.14,"17,281.63","10,435.71","1,391.43"
48,64,Katya Del Rocío López Ramírez,"17,687.64",884.00,2022-06-16,616.24,616.24,"2,560.34",484.76,"3,552.56",...,"1,043.12",728.11,728.11,"3,286.80",572.82,"4,196.74",626.14,"17,281.63","10,435.71","1,391.43"
49,65,José Alfredo López Madrigal,"17,687.64",884.00,2022-06-16,616.24,616.24,"2,560.34",484.76,"3,552.56",...,"1,043.12",728.11,728.11,"3,286.80",572.82,"4,196.74",626.14,"17,281.63","10,435.71","1,391.43"
50,66,Jesus Geovanni Ruvalcaba Mota,"17,687.64",884.00,2022-07-01,616.24,616.24,"2,560.34",484.76,"3,552.56",...,"1,043.12",728.11,728.11,"3,286.80",572.82,"4,196.74",626.14,"17,281.63","10,435.71","1,391.43"
51,67,Luis Manuel Guerrero Alcantara,"19,500.08",975.00,2022-08-22,679.38,679.38,"2,970.37",538.03,"3,865.33",...,"1,150.50",802.72,802.72,"3,771.27",635.76,"4,566.30",690.30,"18,900.54","11,505.05","1,534.01"