In [1]:
import pandas as pd
from isr import ISR
from dataimss import DataImss
from datostrabajador import DatosTrabajador

In [2]:
calculo = ISR()

In [3]:
sueldo = 4000
ISR.function_isr(sueldo)

-155.33

In [4]:
comp=[14000-ISR.function_isr(14000),(14000*1.05)-ISR.function_isr(14000*1.05)]
comp

[12450.76, 13001.24]

In [5]:
14000*1.05

14700.0

In [6]:
base = 17800

In [7]:
comp=[base/2-ISR.function_isr(base)/2,(((base*1.05)-base/2)-(ISR.function_isr(base*1.05)-ISR.function_isr(base)/2))-base*.05]
comp

[7719.54, 7529.4400000000005]

In [8]:
(((base*1.05)-base/2))

9790.0

In [9]:
comp=[base/2-ISR.function_isr(base)/2,(((base*1.05)-base/2)-(ISR.function_isr(base*1.05)-ISR.function_isr(base)/2))]
comp

[7719.54, 8419.44]

In [10]:
def diferencias(base, monto):
    calculo1 = ISR()
    calculo1.set_sueldo_base(base)
    calculo2 = ISR()
    calculo2.set_sueldo_base(base+monto)    
    q_1 = base/2 - calculo1.impuesto_a_retener()/2
    q_2 = ((base + monto) - base/2) - (calculo2.impuesto_a_retener() - (calculo1.impuesto_a_retener()/2))
    q_2 = q_2 - monto
    return (round(q_1,2),round(q_2,2))

In [11]:
print(diferencias(17800.0,(17800*0.05)))

(7719.54, 7529.44)

In [12]:
primer, segunda = diferencias(17800.0,(17800*0.05))

In [13]:
primer

7719.54

In [14]:
def gratificacion(base, monto):
    calculo1 = ISR()
    calculo1.set_sueldo_base(base)
    calculo2 = ISR()
    calculo2.set_sueldo_base(base+monto)
    primera, segunda = diferencias(base,monto)
    temp = 0
    while primera >= segunda:
        temp += 1
        calculo2.set_sueldo_base(base+monto+temp)
        new_base = base + monto + temp
        segunda = ((new_base) - base/2) - (calculo2.impuesto_a_retener() - (calculo1.impuesto_a_retener()/2)) - monto
    return temp

In [15]:
base = 17800
monto = base * 0.05

print(gratificacion(base, monto))

242

In [16]:
base = 17800


salario = base*1.05+242-(base/2) - (ISR.function_isr(base*1.05+242)-ISR.function_isr(base)/2)
salario-(base*0.05)

7719.75

In [17]:
base = 13238
monto = base * 0.05

print(gratificacion(base, monto))

174

In [18]:
class Gratificacion():
    
    def set_data(self, base, monto):
        self.base = base
        self.monto = monto
        
    def get_data(self):
        return (self.base, self.monto)
    
    def diferencias(self):
        calculo1 = ISR()
        calculo1.set_sueldo_base(self.base)
        calculo2 = ISR()
        calculo2.set_sueldo_base(self.base+self.monto)    
        q_1 = self.base/2 - calculo1.impuesto_a_retener()/2
        q_2 = ((self.base + self.monto) - self.base/2) - (calculo2.impuesto_a_retener() - (calculo1.impuesto_a_retener()/2))
        q_2 = q_2 - self.monto
        return (round(q_1,2),round(q_2,2))
    
    
    def gratificacion(self):
        calculo1 = ISR()
        calculo1.set_sueldo_base(self.base)
        calculo2 = ISR()
        calculo2.set_sueldo_base(self.base + self.monto)
        primera, segunda = self.diferencias()
        temp = 0
        while primera >= segunda:
            temp += 0.01
            calculo2.set_sueldo_base(self.base + self.monto + temp)
            new_base = self.base + self.monto + temp
            segunda = ((new_base) - self.base/2) - (calculo2.impuesto_a_retener() - (calculo1.impuesto_a_retener()/2)) - self.monto
        return temp

In [19]:
juan = Gratificacion()
juan.set_data(13238,13238*.05)
juan.diferencias()

(5923.3, 5786.85)

In [20]:
juan.get_data()

(13238, 661.9000000000001)

In [21]:
juan.gratificacion()

173.51999999998716

In [22]:
base = 17800
comp=[base/2-ISR.function_isr(base)/2,(((base*1.05)-base/2)-(ISR.function_isr(base*1.05)-ISR.function_isr(base)/2))-base*.05]
comp

[7719.54, 7529.4400000000005]

In [23]:
(((base*1.05)-base/2))

9790.0

In [24]:
base*1.05

18690.0

In [6]:
from letra import letra

In [7]:
import pandas as pd

In [8]:
df = pd.read_excel('./data/data2.xlsx')

In [9]:
df

         date     name   sueldo  concepto_1  concepto_2  concepto_3
0  2013-06-01  anonimo   560.00         NaN         NaN         NaN
1  2013-06-01  anonimo   400.04         NaN         NaN         NaN
2  2013-06-01  anonimo  2196.03         NaN         NaN         NaN
3  2013-06-01  anonimo  4371.78         NaN         NaN         NaN
4  2013-06-01  anonimo   798.00         NaN         NaN         NaN
..        ...      ...      ...         ...         ...         ...
65 2013-06-01  anonimo   399.00         NaN         NaN         NaN
66 2013-06-01  anonimo   399.00         NaN         NaN         NaN
67 2013-06-01  anonimo  3057.00         NaN         NaN         NaN
68 2013-06-01  anonimo  3005.51         NaN         NaN         NaN
69 2013-06-01  anonimo   934.00         NaN         NaN         NaN

[70 rows x 6 columns]

In [10]:
letra(1)

'un pesos 0/00 MXN'

In [11]:
df['importe en letra'] = df['sueldo'].apply(letra)

In [12]:
df

,date,name,sueldo,concepto_1,concepto_2,concepto_3,importe en letra
0,2013-06-01,anonimo,560.00,NaN,NaN,NaN,quinientos sesenta pesos 0/00 MXN
1,2013-06-01,anonimo,400.04,NaN,NaN,NaN,cuatrocientos pesos 4/00 MXN
2,2013-06-01,anonimo,2196.03,NaN,NaN,NaN,dos mil ciento noventa y seis pesos 3/00 MXN
3,2013-06-01,anonimo,4371.78,NaN,NaN,NaN,cuatro mil trescientos setenta y un pesos 78/0...
4,2013-06-01,anonimo,798.00,NaN,NaN,NaN,setecientos noventa y ocho pesos 0/00 MXN
...,...,...,...,...,...,...,...
65,2013-06-01,anonimo,399.00,NaN,NaN,NaN,trescientos noventa y nueve pesos 0/00 MXN
66,2013-06-01,anonimo,399.00,NaN,NaN,NaN,trescientos noventa y nueve pesos 0/00 MXN
67,2013-06-01,anonimo,3057.00,NaN,NaN,NaN,tres mil cincuenta y siete pesos 0/00 MXN
68,2013-06-01,anonimo,3005.51,NaN,NaN,NaN,tres mil cinco pesos 51/00 MXN
69,2013-06-01,anonimo,934.00,NaN,NaN,NaN,novecientos treinta y cuatro pesos 0/00 MXN

In [13]:
letra(10199.06)

'diez mil ciento noventa y nueve pesos 6/00 MXN'

In [2]:
data = DataImss()

In [3]:
data._uma

96.22

In [4]:
data._uma = 96.22*1.09

In [5]:
data._uma

104.8798

In [7]:
from imss import CalculoIMSSObrero, CalculoIMSSPatron

In [8]:
imss = CalculoIMSSObrero()

In [9]:
imss._uma

96.22